<!DOCTYPE html>
<html lang="zh-CN" class="detail_standard"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script>

  <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
  function isWeixinBrowser(){
    var ua = navigator.userAgent.toLowerCase();
      //  alert(ua);
      return (/micromessenger/.test(ua)) ? true : false ;
    }

    var is_weixin_browser = true; isWeixinBrowser();

    var auto_login_url= '/mlogin';
    var supplier_id='78';

    if(is_weixin_browser){

      auto_login_url= '/auto_login?id=78&<%=return_url%>&platform=mobile';
    }

    <%if @user && @user.account.supplier_id%>
    if ('<%=@user.account.supplier_id %>'!=supplier_id){
      location.href = auto_login_url;
    }
    <%elsif @no_need_login.nil?%>
    location.href = auto_login_url;
    <%end%>
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>贸威优品商城-商品详情</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="http://wq.360buyimg.com/">

  <link rel="stylesheet" href="/new_mobile/css/base.s.min.css">
  <link rel="stylesheet" href="/new_mobile/css/mod_nav_head.s.min.css">
  <link rel="stylesheet" href="/new_mobile/css/mod_aside.s.min.css">
  <link rel="stylesheet" href="/new_mobile/css/mod_bar_download.s.min.css">
  <link rel="stylesheet" href="/new_mobile/css/area_select.s.min.css">
  <link rel="stylesheet" href="/new_mobile/css/detail.s.min.css?t=1435217816">

</head>
<body>

  <div id="part_main">
    <div class="wx_bar wx_bar_in" style="display:none" id="topBack">
      <div class="wx_bar_back"><a id="backUrl" href="/mobile">贸威购物</a></div>
      <div class="wx_bar_tit"></div>
    </div>
    <script type="text/javascript">
      function $id(id){
        return document.getElementById(id) || document.createElement('span');
      }
      var _iswx = navigator.userAgent.toLowerCase().indexOf('micromessenger') != -1;
      function showTopBack(isshow){
        if(isshow || (history.length<=1 && location.href.indexOf('hidetitle')==-1)) {
          if(_iswx){
           $id('topBack').style.display = '';
           $id('backUrl').href='/mobile';
         };
       };
     };
     showTopBack(false);
   </script>

   <div class="sponsorListHolder">
    <div class="sponsor" title="Click to flip">
      <div class="img-front">
        <img src="<%= @goods.medium_pic %>" alt="click to pay" />
      </div>
  <%if @goods.marketable == 'false'|| @goods.store.to_i < 1 %> <%else%>
      <div class="sponsorData">
        <div class="img-back" id="qrcode" data-url="<%= pay_with_goods @goods.bn %>"></div>

      </div>
    </div><%end%>
  </div>






  <%=form_for :product,:url=> add_cart_index_path, :html => {:id => 'add_product_to_cart'} do |f|%>
  <%=f.hidden_field :goods_id,:value=>@goods.goods_id%>
  <%=f.hidden_field :type_id,:value=>@goods.type_id%>
  <input name="shop_id" value="<%= params[:shop_id] %>" type="hidden">
  <input type="hidden" name="platform" value="new_mobile">
  <input type="hidden" name="from" value="weihuo">
  <div class="buy_area">
    <div class="fn_wrap">
      <h1 class="fn" id="itemName"><%=@goods.name%></h1>
      <div class="desc" id="itemDesc">

        <%=raw @goods.desc.gsub(/width/,'widthh').gsub(/height/,'heightt/') if @goods.desc%>
      </div>

      <div class="book_desc" id="actTitleDesc" style="display:none"></div>
    </div>

    <div class="price_wrap" id="priceBlock">
      <span class="tit" id="priceTitle">尾货价：</span>
      <span class="price price-sale" id="priceSale"><%=@goods.price%></span>
      <span class="tit" id="priceTitle">正品价：</span>
      <span class="price price-market"  id="priceMarket" style="text-decoration:line-through"><%=@goods.mktprice%></span>
      <span class="group" id="priceGroupStyle" style="display: none"></span>
      <span class="tip_red" id="priceDis" style="display: none"></span>
      <span class="price_old" id="priceMarket" style="display: none"></span>
      <span class="col_right" id="headEval" ptag="7001.1.26">
        <span class="sale_num">评价：<b id="evalNo1"></b>条</span></span><br/>
          <span class="store-count">(库存 <span id="product_store"><%=@goods.store.to_i%></span> 件)
      </span>
    </div>
    <div class="price_wrap" id="priceExp" style="display: none"></div>
    <div class="price_wrap" id="ysPriceBlock" style="display:none;">
      <span class="tit">预售价：</span><span class="price" id="ysPrice1"></span>
      <span class="pre_buy">(定金：<span class="price" id="ysPrice2"></span>)</span>
      <span class="col_right">
        <a href="http://mm.wanggou.com/item/illustrate.shtml">预售规则</a>
      </span>
      <div class="tip">先付定金，即可获得该预售商品的购买资格</div>
    </div>
    <!--微信手Q专享-->
    <div class="de_fn hide" id="priceWQDiscount">
      <div class="price_wrap">
        <span class="tit_tip hide"><i class="icon_tit_phone"></i>微信专享</span><span class="tit_tip hide"><i class="icon_tit_phone"></i>手Q专享 </span> <span class="desc de_c_red"><!--比电脑买省 ¥1246--></span>
      </div>
    </div>
    <div class="detail_group_nav" id="ysStepShow" style="display:none;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
    <!--优惠券-->
    <div class="detail_row detail_getquan" id="couponListDiv" style="display: none;">
      <i class="icon_point icon_point_drop" id="couponRow"></i>
      <div class="de_row">
        <div class="tit">领券：</div>
        <div class="de_span">
          <div class="de_lot_list" id="couponList" ptag="7001.1.43">

          </div>
          <!-- /de_lot_list -->
        </div>
      </div>
    </div>
    <script type="text/html" id="couponTpl">
      <div class="item" key="{#key#}" roleId="{#roleId#}" id="couponItem_{#roleId#}">
        <div class="status">领取</div>
        <div class="name"><span class="price">&yen;{#discount#}</span></div>
        <div class="desc">满{#quota#}减{#discount#}</div>
      </div>
    </script>
    <!--送货地址-->
    <div class="detail_promote detail_sendto" style="display:none">
      <div class="tit">送至：</div>
      <div class="promote_tag" id="addrArea" ptag="7001.1.4">
        <div class="addr"><span id="addrName">北京</span><span class="yh"><span class="tag" id="postNotice1"></span></span><span class="postage" id="postPrice"></span></div>
        <div class="extra"><span id="postNotice2"></span></div>
        <div class="extra"><span id="postNotice3"></span><span id="postNotice4"></span></div>
      </div>
      <i class="icon_promote" id="postIco"></i>
    </div>
    <!-- 促销 -->
    <div class="detail_promote detail_promote_tag" style="display: none" id="promoteDiv" hashval="promotions">
      <div class="tit">促销：</div>
      <!-- 只有一个tag时增加 promote_tag_one -->
      <div class="promote_tag" id="promote"></div>
      <i class="icon_promote"></i>
    </div>
    <div class="sku_container sku_container_on" id="skuCont">
      <div class="sku_wrap">
        <div id="propertyDiv">
         <%@goods.specs.order("spec_id asc").each do |spec|%>
         <span class="spec-name"><%=spec.spec_name%> : </span>
         <%=hidden_field_tag "product[specs][]"%>
         <ul class="spec-values clearfix">
           <%@goods.spec_values.where(:spec_id=>spec.spec_id).uniq.order("p_order asc").each_with_index do |spec_value, index|%>

           <li>
             <%=link_to spec_value.spec_value, "javascript:;", :onclick => 'change_price(this)', :class=>"spec-value text", :id => "spec-value-#{index}", :data=>{:value=>spec_value.spec_value_id},:title=>spec_value.spec_value%>
           </li>
           <%end%>
         </ul>
         <%end%>
       </div>
       <script language="javascript">
         function change_price(obj){
    //$('.price-sale #priceSale').text($(obj).attr-data('price'));
    //$('.price-market #priceMarket').text($(obj).attr-data('market_price'));

  }

  function add() {
    var obj = document.getElementById("buyNum");
var store = document.getElementById("store");

          if(store.value <= obj.value) {
             alert("亲，库存不够了") ;
      return;
    }
    obj.value = parseInt(obj.value) + 1;
  }

  function remov() {
    var obj = document.getElementById("buyNum");
    if(obj.value <=1) {
        alert("亲，不能在减了～") ;
      return;
    }

    obj.value = parseInt(obj.value) - 1;
  }

</script>
<div class="sku sku_num" id="skuNum">
  <h3>数量</h3>
  <div class="num_wrap">
    <span class="minus minus_disabled" id="minus" ptag="7001.1.11" onclick="remov()"></span>
    <input class="num" id="buyNum" type="tel" value="1" name="product[quantity]" >
    <span class="plus" id="plus" ptag="7001.1.11" onclick="add()"></span>
   <p hidden>  <input class="store" id="store" style="" value="<%=@goods.store.to_i%>"></span></p>
  </div>
</div>
</div>
</div>
<div class="sku_tip" id="skuNotice" style="display:none">
  <span id="skuTitle2"></span>
</div>

<!-- S 延保 -->
<div class="detail_row detail_insure" id="ybArea" style="display:none;" hashval="yanbao">
  <h3 class="tit" id="ybArea1">延保服务</h3>
  <i class="icon_promote" id="ybArea2"></i>
</div>
<!-- E 延保 -->
<!-- S 延保列表 -->
<div class="detail_ins_list" id="ybList" style="display:none;">
</div>
<!-- E 延保列表 -->
<div class="detail_gap" style="display:none;"></div>


<div class="service_wrap service_wrap_none" id="serviveArea" style="display:none;">
  <div class="service_tit">
    <i class="icon_promote"></i>
    <strong>本商品提供以下服务</strong>
  </div>
  <ul class="service_list" id="serviceInfo"></ul>
  <div class="ft" id="outService" style="display:none">
    <div class="tip" id="outServiceNote">
      <strong>温馨提示：</strong>
    </div>
  </div>
</div>
</div>

<div class="mod_tab_gap" style="display:none;"></div>

<div class="detail_extra">
  <div class="detail_row" id="itemDetEnter" ptag="7001.1.15" style="display:none">
    <a href="javascript:;"><h3 class="tit">图文详情</h3></a>
    <i class="icon_promote"></i>
  </div>
  <div class="detail_gap" style="display:none;"></div>

  <div class="detail_row detail_row_cmt" id="summaryEnter" ptag="7001.1.27" hashval="summary"  style="display:none">
    <h3 class="tit">评价</h3>
    <i class="icon_promote" id="summaryEnterIco"></i>
    <p class="good">好评 <strong id="evalRate"></strong></p>
    <p class="count">共 <span class="num" id="evalNo2"></span> 条评价</p>
  </div>

  <div class="detail_cmt"  style="display:none">
    <div class="cmt_tag" id="evalTag"></div>
    <!-- cmt_tag -->
    <div class="cmt_list_wrap">
      <ul class="cmt_list" id="evalDet_main"></ul>
      <span id="summaryEnter2" hashval="summary"><a href="javascript:;" ptag="7001.1.28" class="cmt_list_more">查看全部评价</a></span>
    </div>
    <!-- list -->
  </div>


  <!-- inner -->


</div>
<!-- bd -->
</div>

<div id="detailBaseLine" class="mod_tab_gap"></div>

<div class="mod_fix_wrap">
  <div class="mod_fix">
    <div class="mod_tab" id="detailTab">
      <span class="cur" no="1" ptag="7001.1.12">商品介绍</span>
      <span no="2" ptag="7001.1.13">规格参数</span>
      <span no="3" ptag="7001.1.14">售后保障</span>
    </div>
  </div>
</div>

<style>
  #commDesc1 img{
    width:100%
  }
</style>
<div class="detail_info_wrap1" id="detail1" >
  <div class="detail_list1" id="detailCont1">
    <!-- 商品介绍 -->
    <div class="detail_item1 p_desc1" id="detail11" style="position:static;width:100%">

      
      <p style="color:#006000;font-weight:bold">特别申明：此尾货良品，系物流仓库积压处理品的环保再利用，保障正品无假货，即使略有瑕疵，不影响功能使用。一旦购买，概不退货。请知悉。</p>
      
      <!--<%#=raw @goods.intro%>-->
      <%=raw @goods.intro.gsub(/width/,'widthh').gsub(/height/,'heightt/') if @goods.intro%>
    </div>
    <div id="pcItemLink" style="display: none" ptag="7001.1.17">
      <a class="btn btn_full" href="javascript:;">查看电脑版商品详情</a>
      <div class="detail_full_tip">（ 查看电脑版商品详情，可能会消耗较多流量 ）</div>
    </div>
  </div>
  <!-- 商品参数 -->
  <div class="detail_item p_prop" id="detail2">
   <div id="package">
    <div class="mod_tit_line">
     <h3>包装清单</h3>
   </div>
   <div class="mod_row" id="detPackage"></div>
 </div>
 <div>
  <div class="mod_tit_line">
   <h3>商品参数</h3>
 </div>
 <div id="detParam"></div>
</div>
</div>
<!-- 评论 -->


<!-- btn_wrap_nocart -->
<div class="btn_wrap btn_wrap_fixed" id="btnTools">
  <div class="notice_tip" id="statusNotice" style="display:none"><span id="statusNote"></span></div>
  <!--<a class="btn_fav" href="javascript:;" id="fav" manualclick="xxx" pppptag="7001.1.23"><i>收藏</i></a>-->

  <div class="btn_col">
    <!--   <a class="btn btn_buy_exp" href="javascript:;" id="buyBtnExp" style="display: none" manualclick="xxx" pppptag="7001.1.8">立即购买</a>-->
    <%if @goods.marketable == 'false'|| @goods.store.to_i < 1 %>
     <h1 style="text-align: center;font-size:22px">该商品已售罄</h1>
    <% else %>
    <a class="btn btn_cart add_to_cart" href="javascript:;" manualclick="xxx" pppptag="7001.1.10" id="add_to_cart">加入购物车</a>
    <a class="btn btn_buy add_to_cart" href="javascript:;" id="buyBtn2" manualclick="xxx" pppptag="7001.1.8">立即购买</a> <% end %>
  </div>
   <!-- <a class="cart_wrap" href="/cart/mobile?supplier_id=">
        <i class="i_cart" id="cartNum"></i>
        <span class="cart"></span>
        <span class="add_num" id="popone">+1</span>
      </a>-->
    </div>

    <%end%>
    <div class="wx_aside" id="quckArea">
      <a href="javascript:void(0);" id="quckIco2" class="btn_more">更多</a>
      <a href="javascript:void(0);" id="shopIM" ptag="7001.1.20" class="btn_ask on">资讯</a>
      <a href="javascript:;" id="goTop" ptag="7001.1.2" style="display:none;" class="goTopBtn btn_top btn_top_active">返回顶部</a>

      <div class="wx_aside_item" id="quckMenu">
        <a href="/mcoss/wxmall/home?ptag=7001.1.36&ptype=" onclick="this.href += (_itemDeatail.isWX?1:4)" class="item_jd">贸威购物</a>
        <a href="" onclick="this.href = &#39;/portal/&#39;+(_itemDeatail.isWX?&#39;wx/category_m.shtml&#39;:&#39;sq/category_q.shtml&#39;)+&#39;?ptag=7001.1.37&#39;" class="item_search">搜索</a>
        <a href="/shopping/sharegoodsV2.html?ptag=7001.1.42&skuid=" id="fxgwq" onclick="this.href += _itemDeatail.skuId" class="item_gwq" style="display: none;">分享购物圈</a>
        <script>if(!_iswx){$id('fxgwq').style.display = 'none'}</script>
        <a href="/my/index.shtml?ptag=7001.1.38&backurl=" onclick="this.href += encodeURIComponent(location.href)" id="persLink" class="item_uc">个人中心</a>
        <a href="javascript:;" class="item_index" ptag="7001.1.39" id="quick_shoplink" style="display: none">店铺首页</a>
        <a href="/my/fav/goods_fav.shtml?ptag=7001.1.40" class="item_fav">我的收藏</a>
        <a href="/my/recently.shtml?ptag=7001.1.41" class="item_history">最近浏览</a>
      </div>
    </div>

  </div>
  <!--part_main end-->

  <div id="part_address" style="display:none">
    <div class="wx_bar">
      <div class="wx_bar_back" id="addrBack">
        <a href="javascript:;"></a>
      </div>
      <div class="wx_bar_tit">配送地址</div>
    </div>
    <div class="wx_wrap area_select" id="addrList"></div>
  </div>
  <!--part_address end-->

<!--
<div id="part_tab" style="display:none">

<div class="wx_aside">
    <a href="javascript:;" id="goTop" ptag="7001.1.2" style="display:none;" class="goTopBtn btn_top btn_top_active">返回顶部</a>
</div>

</div>
-->
<!--part_tab end-->

<div id="part_summary" style="display: none">
  <div class="wx_aside">
    <a href="javascript:;" id="goTop" ptag="7001.1.2" style="display:none;" class="goTopBtn btn_top btn_top_active">返回顶部</a>
  </div>
  <div class="detail_row detail_cmt">
   <div class="mod_fix_wrap"><div id="evalHead" class="mod_fix fixed"></div></div>
   <div id="evalHead2"></div>

   <!-- cmt_view -->
   <div class="cmt_tag" id="evalTag2"></div>
   <!-- cmt_tag -->
   <div class="cmt_list_wrap">
    <ul class="cmt_list" id="evalDet_summary"></ul>
    <div class="cmt_list_loading">
      <span class="tip" style="display: none;">加载更多</span>
      <div class="wx_loading2" id="eveaLoading"><i class="wx_loading_icon"></i></div>
    </div>
  </div>
  <!-- list -->
  <div id="appdlCon2"></div>
</div>
</div>
<!--part_summary end-->

<div id="part_promotions" style="display: none">
  <div class="wx_wrap">
    <div class="promo_list">
      <h3>促销详情</h3>
      <ul id="promoteIcos"></ul>
    </div>
    <div class="fitting_list" id="promoteItemDiv" style="display: none">
      <h3>赠品</h3>
      <ul id="promoteItem"></ul>
    </div>
  </div>
</div>
<!--part_promotions end-->

<!-- S 选择延保服务 -->
<div class="detail_ins_picker" id="part_yanbao" style="display:none;">
  <div id="ybService"></div>
  <div class="btn_wrap">
    <a class="btn btn_confirm" href="javascript:" id="sureYbServiceBtn">确认</a>
  </div>
</div>
<!-- E 选择延保服务 -->

<!-- common part  -->
<!--<div class="mod_slider_mask" id="blackCover" style="display:none"></div>
<div class="image_viewer" id="imageViewer" style="display: none">
    <div class="inner"><img id="fullImg"></div>
  </div>-->
  <!-- common part  -->

</div>


<script type="text/html" id="evalTpl">
  <li>
    <div class="cmt_user">
      <span class="user">{#name#}</span>
      <span class="tip">{#levelName#}</span>
      <span class="credit"><span style="width:{#score_code#}%"></span></span>
      <span class="date">{#creationTime#}</span>
    </div>
    <div class="cmt_cnt">{#content#}</div>
    <div class="cmt_att">{#shaidanImg#}</div>
    <div class="cmt_sku">{#sku#}<div class="reply">{#reply#}</div></div>
  </li>
</script>
<script type="text/html" id="evalHeadTpl">
  <div class="cmt_tab" id="evalTab">
    <span no="0" ptag="7001.1.30">全部<em>{#commentCount#}</em></span>
    <span class="cur" no="3" ptag="7001.1.31">好评<em>{#goodCount#}</em></span>
    <span no="2" ptag="7001.1.32">中评<em>{#generalCount#}</em></span>
    <span no="1" ptag="7001.1.33">差评<em>{#poorCount#}</em></span>
    <span no="4" ptag="7001.1.34">晒单<em>{#showCount#}</em></span>
  </div>
</script>
<script type="text/html" id="evalHeadTpl2">
  <div class="cmt_view">
    <div class="per">
      <em>{#goodRateShow#}%</em>
      <span>好评率</span>
    </div>
    <div class="tips">
      <div class="line">
        好评
        <span class="box"><b style="width:{#goodRateShow#}%"></b></span>
        <span class="num">{#goodRateShow#}%</span>
      </div>
      <div class="line">
        中评
        <span class="box"><b style="width:{#generalRateShow#}%"></b></span>
        <span class="num">{#generalRateShow#}%</span>
      </div>
      <div class="line">
        差评
        <span class="box"><b style="width:{#poorRateShow#}%"></b></span>
        <span class="num">{#poorRateShow#}%</span>
      </div>
    </div>
  </div>
</script>
<script type="text/html" id="serviceTpl">
  <li>
    <i class="icon_service {#iconCode#}"></i>
    <div class="service_txt">{#iconSrc#}</div>
    <div class="service_desc">{#iconTip#}</div>
  </li>
</script>
<script type="text/html" id="ybListTpl">
  <div class="item" pid="{#pid#}">
    <span class="ins_box"><i class="icon_ins_{#sortInd#}"></i>{#sortName#}<span class="price">&yen;{#price#}</span></span>
  </div>
</script>
<script type="text/html" id="ybServiceTpl">
  <div class="mod_bm_picker">
    <div class="tit"><i class="icon_ins_{#sortInd#}"></i>{#sortName#}</div>
    <div class="option_list">{#listStr#}</div>
  </div>
</script>
<script type="text/html" id="ybServiceTpl2">
  <div class="op_item" pid="{#platformPid#}" psortid="{#pSortId#}" sortname="{#sortName#}" price="{#price#}">
    <div class="checkbox"><i class="icon_check"></i></div>
    <div class="name">{#sortName#}<span class="price">&yen;{#price#}</span></div>
  </div>
</script>
<style type="text/css">
  .img-front {
    width: 50%;
  }
  .img-front img, .img-back img {
    width: 100%;
  }
</style>






<script src="/assets/store/new_base.js?body=1" type="text/javascript"></script>

<script src="/assets/store/new_goods.js?body=1" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/assets/styles.css" />
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/qrcodejs/qrcode.min.js"></script>
<script type="text/javascript" src="/assets/sponsor/js/jquery.flip.min.js"></script>
<script type="text/javascript" src="/assets/sponsor/js/script.js"></script>
<script type="text/javascript">
  var url = $('#qrcode').attr('data-url');
  new QRCode(document.getElementById("qrcode"), url);
  $('.add_to_cart').on('click',function(){
    $('#add_product_to_cart').submit();
  })
</script>



</body></html>
