
<div class="title">
  <h3>我的订单</h3>
</div>
<% @order_ids.each do |order_id| %>
<% order = Ecstore::Order.find_by_order_id(order_id) %>
<div class="order-box">

  <div class="order-status-price">
    <div class="order-status">
      <span class="status-key">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span class="space">态：</span></span>
      <span class="status-value"><%= order.status_text %></span>
    </div>
    <div class="price">
      <span class="price-key">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <span class="space">价：</span></span>
      <span class="price-value">¥<%= order.total_amount %></span>
    </div>
  </div>
  <div class="createtime">
    <span class="time-key">订单时间：</span></span>
    <span class="time-value"><%= Time.at(order.createtime).strftime('%F %T') %></span>
  </div>
  <hr />

  <div class="supplier">
    尾货良品
  </div>
  <hr />

  <% order.order_items.each do |order_item| %>
  <% goods = Ecstore::Good.find_by_goods_id(order_item.goods_id) %>
  <div class="item-list">
    <div class="goods-pic">
      <img src="<%= goods.medium_pic %>" />
    </div>
    <div class="goods-info">
      <div class="goods-name">
        <%= goods.name[0..18] %>
      </div>
      <div class="goods-amount">
        <%= order_item.nums %> 件
      </div>
    </div>
    <div class="clear">
    </div>
  </div>
  <% end %>

</div>
<% end %>


<style type="text/css">
  body {
    background-color: #e5e4e2;
  }
  
  .title {
    text-align: center;
    margin: 30px;
  }
  .order-box {
    background-color: white;
    border-bottom: 1px white solid;
    border-top: 1px white solid;
    padding: 10px;
    margin-bottom: 15px;
  }
  .order-status-price {
    padding: 5px 0;
  }
  .order-status .status-value, .price .price-value, .createtime .time-value {
    padding-left: 20px;
  }
  li {
    float: left;
  }
  .space {

  }
  .status-value {
    color: #1569c7;
  }
  .price-value {
    color: #dc381f;
  }
  .supplier {
    padding: 0;
  }
  .item-list {
    margin-bottom: 10px;
  }
  .goods-pic {
    display: inline-black;
  }
  .goods-pic img {
    width: 30%;
    display: inline-black;
  }
  .goods-info {
    float: left;
    padding-left: 10px;
  }
  .goods-name {
  }
  .goods-amount {
    color: #5c5858;
  }
  .clear {
    clear: both;
  }
</style>