<div class="container">
  <div class="col-xs-12">
    <h3 class="center">申请店铺</h3>
    <form action="/weihuo/shops" class="build-store" method="post">
      <input type="hidden" name="member_id" value="<%= current_account.account_id %>" />
      <div class="row">

        <div class="col-xs-10 col-xs-offset-1">
          <select name="organisation_name" class="organisation-name" data-name=''>
            <option value=''>情选择您的节点</option>
            <%= @organisations.each do |o| %>
            <option value="<%= o.name %>"><%= o.name %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <select name="employee_name" class="employee-name">
            <option value=''>请选择您的姓名</option>
            <% if @employees.present? %>
            <%= @employees.each do |employee| %>
            <option value=<%= employee.name %>><%= employee.name %></option>
            <% end %>
          </select>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <input name="shop_name" type="text" placeholder="请输入您想要的店铺名称">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <input name = "employee_mobile" type="text" data-mobile="<%= Ecstore::WeihuoEmployee.where(:name => params[:employee_name]).first.mobile if params[:employee_name].present? %>" placeholder="请输入您的手机号">
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1">
        <div class="errmsg"></div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <input type="button" class="btn btn-success pull-right" value="提交申请">
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      var url = '/weihuo/shops/new';
      var param = location.search.replace('?', '');
      $('.organisation-name').on('change', function(){
        var organisation_name = $(this).val();
        if(!location.search) {
          location.href += '?organisation_name=' + encodeURI(organisation_name);
        }
        else {
          location.href = '?organisation_name=' + encodeURI(organisation_name);
        }
      });
      if(param == "") {
        var params = [];

      }
      else {
        var params = param.split('&');
        var name = decodeURI(params[0].split('=')[1])
        $('.organisation-name').val(name);
      }

      $('.employee-name').on('change', function(){
        var employee_name = $(this).val();
        if(params.length == 1) {
          location.href += '&employee_name=' + encodeURI(employee_name);
        }
        else {
          location.href = location.pathname + location.search.split('&')[0] + '&employee_name=' + encodeURI(employee_name);
        }
      });
      if(params.length == 2) {
        $('.employee-name').val(decodeURI(params[1].split('=')[1]));
      }


      $("input[name='employee_mobile']").on('change', function(){
        var employee_mobile = $(this).attr('data-mobile');
        var mobile = $(this).val();
        if(mobile != employee_mobile) {
          $('.errmsg').text('您输入的姓名与手机号码不一致，请重新填写。');
          $(this).val('');
        }
      });

      $("input[type='button']").on('click',function(){
       if($('.organisation-name').val() == '' || $('.employee-name').val() == '' || $("input[name='employee_mobile']").val() == undefined) {
        alert('请填写完整信息！');
      }
      else {
        $('.build-store').submit();
      }
    });

    })
</script>

<style type="text/css">
  .label-new-shop {
    color: black;

  }
  .errmsg {
    color: red;
    height: 50px;
    margin-top: -35px;
    margin-bottom: 10px;
  }
  .center {
    text-align: center;
  }
  .right {
    position: relative;
  }
  .row {
    margin-bottom: 20px;
  }
  select, input {
    width: 100%;
    margin-bottom: 20px;
  }

</style>

