<div class="container">
  <% if @shop.status == '0' %>
  <h2>请等待审核通过</h2>
  <% elsif @shop.status == '-1' %>
  <h2>您的店铺申请失败，请与管理员联系</h2>
  <% else %>
  <div class="row title">
    <div class="col-xs-5">
      <div class="shop-logo">
        <img src="<%= @shop.logo %>">
      </div>
    </div>

    <div class="col-xs-7">
      <div class="shop-name">
        <h4><%= @shop.name %>的店铺</h4>
      </div>
    </div>
  </div>

 <% if @goods_ids.present? %>
  <div class="row all-goods">
    <% @goods_ids.each_with_index do |goods_id, index| %>
    <% goods = Ecstore::Good.where(:goods_id => goods_id).first %>
    <div class="col-xs-5 <%= 'col-xs-offset-1' if index % 2 == 0 %>">
      <a style="width:50%" href="/weihuo/goods_detail/<%=goods.goods_id%>">
        <div class="goods">
          <div class="goods-pic">
            <img src="<%= goods.medium_pic %>" />
          </div>
        </div>

        <div class="goods-info">
          <%= goods.name %>
        </div>
        <div class="goods-price">
          尾货价：
          <span class="price">
            <%= goods.price %>
          </span>
          </hr>
        </div>

      </div>
    </a>

    <% end %>
  </div>
  <% end %>

  <% end %>



  <style type="text/css">

    .title {
      margin: 0 auto;
      margin-top: 20px;
      color: #ea7500;
    }
    .shop-logo img {
      width: 100%;
      margin: 0 auto;
    }
    .shop-name {
      font-size: 1.2em;
      text-align: center;
    }
    .goods-pic img {
      width: 100%;
    }
    .goods {
      margin: 10px 2px;
    }
    .all-goods {
      margin-bottom: 40px;
    }
    
  </style>

  <link rel="stylesheet" type="text/css" href="/assets/styles.css" />

  <script type="text/javascript" src="/assets/qrcodejs/qrcode.min.js"></script>
  <script type="text/javascript" src="/assets/sponsor/js/jquery.flip.min.js"></script>
  <script type="text/javascript" src="/assets/sponsor/js/script.js"></script>
  <script type="text/javascript">
    var url = $('#qrcode').attr('data-url');
    new QRCode(document.getElementById("qrcode"), url);
    $(document).ready(function(){
      $('.goods-pic').each(function(index, e){
        var width = $(this).offsetWidth;
        $(this).style.height = width + 'px';
      });
    });
  </script>