<div class="container">
  <div class="title">
    <h3>个人中心</h3>
  </div>

  <table class="table table-striped table-hover table-responsive">
    <tr class="info">
      <div class="row">
        <div class="col-xs-5">
          <td>
            <h4>我的订单</h4>
          </td>
        </div>
        <div class="col-xs-3">
          <td>
            <h4><%= @order_ids.length %></h4>
          </td>
        </div>
        <div class="col-xs-4">
          <td>
            <h4><a href="/weihuo/shops/my_orders?shop_id=<%= params[:shop_id] %>">查看详情</a></h4>
          </td>
        </div>
      </div>
    </tr>

    <tr class="">
      <div class="row">
        <div class="col-xs-5">
          <td>
            <h4>商城信息</h4>
          </td>
        </div>
        <div class="col-xs-3">
          <td>
            <h4><%= @shop_ids.length %></h4>
          </td>
        </div>
        <div class="col-xs-4">
          <td>
            <h4><a href="/weihuo/shops/my_visited_shops?shop_id=<%= params[:shop_id] %>">查看详情</a></h4>
          </td>
        </div>
      </div>
    </tr>

    <tr class="">
      <div class="row">
        <div class="col-xs-5">
          <td>
            <h4>购物车</h4>
          </td>
        </div>
        <div class="col-xs-3">
          <td>
            <h4><%= (@line_items.try :quantity).to_i %></h4>
          </td>
        </div>
        <div class="col-xs-4">
          <td>
            <h4><a href="/cart/mobile?supplier_id=78&shop_id=<%= params[:shop_id] %>&from=<%= params[:from] %>">查看详情</a></h4>
          </td>
        </div>
      </div>
    </tr>

    <tr class="info">
      <div class="row">
        <div class="col-xs-5">
          <td>
            <h4>地址管理</h4>
          </td>
        </div>
        <div class="col-xs-3">
          <td>

          </td>
        </div>
        <div class="col-xs-4">
          <td>
            <h4><%= link_to "查看详情", weihuo_shops_my_addresses_path(:shop_id => params[:shop_id]) %></h4>
          </td>
        </div>
      </div>
    </tr>


    
  </table>

  <div class="title">
    <h3>扫描二维码加盟代理</h4>
  </div>
  
    <div class="qrcode">
      
      <div id="qrcode" style="margin: 0 auto%;margin-top:15px;width:180px;height:180px;" data-url="http://www.trade-v.com/weihuo/shops/new">
      </div>
    </div>
  

</div>

<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/qrcodejs/qrcode.min.js"></script>
<script type="text/javascript">
  var url = $('#qrcode').attr('data-url');

  var qrcode = new QRCode(document.getElementById("qrcode"), {
    text: url,
    width: 180,
    height: 180,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
  });

</script>




<style type="text/css">

  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  .info {
    background-color: #d9edf7;
  }
  .notice {
    color: #b6b6b4;
  }
  td {
    text-align: center;
  }
  #qrcode {
    display: block;
    margin: 0 auto;
  }

</style>