<div class="container">
  <ul class="goto_pages">
    <li class="goto">跳转至第</li>
    <li>
      <form action="/admin/get_users" method="get" class="select_page">
        <select name="page" id="page_value">
          <%= @pages_number.times do |num| %>
          <option value=<%= num + 1 %>><%= num + 1 %></option>
          <% end %>
        </select>
      </form>
    </li>
    <li class="goto">页</li>
  </ul>
  <table class="table table-hover table-striped">

    <tr>
      <!--<th>头像</th>-->
      <th>昵称</th>
      <th>付款金额</th>
      <th>红包祝福语</th>
      <th>活动名称</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
    <% @users_information.each_with_index do |user_info, index| %>
    <tr class="<%= 'info' if index % 2 == 0 %>">
      <!--<td style="width:10%"><img src="<%#= user_info['headimgurl'] %>" width="80%"></td>-->
      <td style="width:10%"><%= user_info['nickname'] %></td>
      <form  action="<%= admin_send_bonus_path %>" method="post">
        <input type="hidden" name="re_openid" value="<%= user_info['openid'] %>" />
        <td style="width:10%">
          <input type="number" name="total_amount" placeholder="0" style="width:60px" />
        </td>
        <td style="width:15%"><input type="text" value="恭喜发财"  name="wishing" placeholder="恭喜发财" style="width:100px"/></td>
        <td style="width:15%"><input type="text" value="销售红包" name="act_name" placeholder="销售红包" style="width:100px"/></td>
        <td style="width:15%"><input type="text" value="销售红包" name="remark" placeholder="销售红包" style="width:100px" /></td>
        <td style="width:15%"><input type="submit" value="发送红包" style="width:120px;" /></td>
      </form>
    </tr>
    <% end %>
  </table>
</div>

<style type="text/css">
  tr th, tr td {
    text-align: center;
  }
  .goto_pages {
    margin-top: 10px;
    float: right;
  }
  .goto {
    margin: 5px;
  }
  ul>li {
    float: left;
    list-style: none;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('#page_value').val(parseInt(window.location.search.match(/\d+/)));
    $('#page_value').change(function(){
      $('.select_page').submit();
    });
  })
</script>