
<% if @goods.present? %>
<div class="row all-goods">
  <% @goods.each_with_index do |goods, index| %>
  <div class="col-xs-5 <%= 'col-xs-offset-1' if index % 2 == 0 %>">
      <a style="width:50%" href="/weihuo/goods_detail/<%=goods.goods_id%>?shop_id=<%= params[:id] || params[:shop_id] %>">
        <div class="goods" >
          <div class="goods-pic" style="position: relative;">
          <% if goods.marketable == 'false'|| goods.store.to_i < 1 %>
           <div style="position: absolute;z-index:0;width:100%" > 
    <img style="filter:alpha(opacity=80); 
-moz-opacity:0.8; 
opacity:0.8;width:100%" src="/images/homepage/sellout.jpg">
  </div>    <% end %>

          <div style="position: absolute;"><img src="/images/homepage/weihuoimg.png" /></div>
            <img src="<%= goods.medium_pic %>" /> 
          </div> 
        </div>
      <div class="goods-info" >
        <%= goods.name %>
      </div>
      <div class="goods-price">
          <div> <span class="product-price-old">正品价：￥<%=goods.mktprice%></span></div>
       <div>
        <span class="price"> 尾货价：
          ￥<%= goods.price %>
        </span></div>       

      </hr>
    </div>
    <% if params[:shop_id].present? %>
    <div>
      <span class="profit">
        我的分红：
      </span>
      <%= goods_profit goods %>
    </div>
    <% end if params[:shop_id].present? %>

  </div>
</a>

<% end %>
</div>

<% end %>
<style type="text/css">

    .title {
      margin: 0 auto;
      margin-top: 20px;
      color: #ea7500;
    }
    .shop-logo img {
      width: 100%;
      margin: 0 auto;
    }
    .shop-name {
      font-size: 1.2em;
      text-align: center;
    }
    .goods-pic img {
      width: 100%;
    }
    .goods {
      margin: 10px 2px;
    }
    .all-goods {
      margin-bottom: 40px;
    }
    
    .goods-price{
font-size: 14px;
color:red;

    }
  </style>
