<%=content_for :head do%>
  <link href="/assets/store/gallery.css.scss" media="screen" rel="stylesheet" type="text/css" />

<%end%>



<!--Tree Menu-->



<div class="products">

<!--Position-->
<div id="position">
  <div class="container">
    <div class="current_pos">当前位置 ：</div>
    <ul class="breadcrumb">
      <li><a href="http://www.TRADE-V.com">首页</a> <span class="divider">/</span></li>
      <li><a href="/galleries/<%= params[:id] %>" class="<%= 'active' unless params[:cat_id].present? %>"><%= @gallery.tag_name %></a></li>
      <% if params[:cat_id].present? %>
      <li><span class="divider">/</span><%= Ecstore::Category.where(:cat_id => params[:cat_id]).first.cat_name %></li>
      <% end %>
    </ul>
  </div>
</div>
  <ul class="left tree-menu">

    <% @galleries.each do |gallery| %>

    <li class="categories">
      <a class="gallery-name"  href= "/galleries/<%= gallery.tag_id %>"> <%= gallery.tag_name %></a>
      <ul  style="<%= 'display:none' unless params[:id].to_i == gallery.tag_id %>">
        <% Ecstore::Category.where("cat_id in (#{@gallery.categories})").order("p_order").each do |category| %>
        <li><a href="?cat_id=<%= category.cat_id %>"><%= category.cat_name %></a></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>

  <div class="right goods">
    <%= render :partial =>'goods_list' %>
  </div>
</div>




