<h1>尾货良品- 商品管理</h1>
 <div>
 </p>
  <%=form_for :member,:url=>downgood_admin_weihuos_path,:method=>:post do |f|%>
      <%= f.hidden_field :select_all,:class=>"sel_operation", :value => 0 %>

        &nbsp;&nbsp;&nbsp;&nbsp;
      <%if current_admin.has_right_of("goods","downgood") %>
        <%= f.submit '导出商品', :class => "btn btn-primary"%>
       <%end%>
                    <%end%>
  </div>

<table class="table table-bordered table-striped table-hover">  
<thead>
  <tr>
    <th class="order" data-field="brand_id" data-sorter="asc">品牌</th>
    <th class="td-teg" style="display:none">标签</th>
    <th class="order" data-field="bn" data-sorter="asc">商品编号</th>
    <th class="order" data-field="name" data-sorter="asc">商品名称</th>
    <th width="50px" align="center">缩略图</th>
    <th class="order" data-field="cost" data-sorter="asc">进货价</th>
    <th class="order" data-field="price" data-sorter="asc">会员价</th>
    <th class="order" data-field="mktprice" data-sorter="asc">市场价</th>
    <th class="order" data-field="store" data-sorter="asc">库存</th>
    <th class="order" data-field="marketable" data-sorter="asc">上架</th>
    <th class="order" data-field="uptime" data-sorter="asc"  style="display:none">上架时间</th>
    <th class="order" data-field="cat_id" data-sorter="asc">分类</th>
    <th class="order" data-field="type_id" data-sorter="asc">类型</th>
  </tr>
</thead>

<tbody>
  <%@goods.each do |good|%>
    <tr>
      <td><%=good.brand.brand_name if good.brand%></td>
      <td class="td-teg"  style="display:none">
        <%good.tegs.each do |teg|%>
          <span class="teg" style="background-color:<%=teg.tag_bgcolor%>;color:<%=teg.tag_fgcolor%>">
            <%=teg.tag_name%>
          </span>
        <%end%>
      </td>
      <td><%=good.bn%></td>
      <td><%=link_to good.name,good_path(good.bn),:target=>"_blank"%></td>
      <td align="center">
        <%=link_to "#", :class=>"hover-thumb", :data=>{ :thumb => good.list_default_pic||"",:title=>"#{good.name}(#{good.bn})" } do%>
          <%=image_tag good.list_default_pic, :size => "35x50"%>
        <%end%>
      </td>
      <td>&yen;<%=format("%.2f",good.cost)%></td>
      <td>&yen;<%=format("%.2f",good.price) if good.price%></td>
      <td>&yen;<%=format("%.2f",good.mktprice) if good.mktprice%></td>
      <td><%=good.store.to_i%></td>
      <td><%=good.marketable == 'true' ? '是' : '否'%></td>
      <td style="display:none"><%=Time.at(good.uptime).strftime("%Y-%m-%d %H:%M:%S") if good.uptime.present?%></td>
      <td><%=good.cat.cat_name if good.cat%></td>
      <td><%=good.good_type.name if good.good_type%></td>
      </td>
    </tr>
  <%end if @goods%>
</tbody>
</table>
<div class="paginations">
  <%=will_paginate @clients,:container=>false if @clients%>
</div>
