  <h1>尾货良品- 订单管理</h1>
  <div>
 </p>
  <%=form_for :member,:url=>downorder_admin_weihuos_path,:method=>:post do |f|%>
      <%= f.hidden_field :select_all,:class=>"sel_operation", :value => 0 %>

        &nbsp;&nbsp;&nbsp;&nbsp;
      <%if current_admin.has_right_of("orders","downorder") %>
        <%= f.submit '导出商品', :class => "btn btn-primary"%>
       <%end%>
                    <%end%>
  </div>
<%=form_for :s,:url=>search_admin_orders_path,:method=>:get,:html=>{:class=>"form-search"} do |f|%>
    <%=f.text_field :q, :value=>params[:s]&&params[:s][:q],:placeholder=>"订单号/收货人"%>
    <input type="submit" value="搜索" class="btn btn-success">
    <%=link_to "清除",admin_orders_path,:class=>"btn"%>
<%end%>
<table class="table table-bordered table-striped table-hover" id="orders" order_ids="<%=@order_ids.join(",")%>" count="<%=@order_ids.count%>" data-url="<%=request.fullpath%>">
  <thead>
  <tr>
    <th>
      <%= check_box_tag nil, nil ,false,:id=>"select_page"%>
    </th>
    <th>订单号</th>
    <th>会员</th>
    <th>收货人</th>
    <th>下单时间</th>
    <th>订单状态</th>
    <th>付款状态</th>
    <th>发货状态</th>
    <th>订单金额</th>    
    <!-- <th>店铺佣金</th> -->
    <th>店铺</th>
  </tr>
  </thead>
  <tbody>
  <%@total=0%>
  <%@orders.each do |order|%>
  <tr class="<%=order.status%>" id="order_<%=order.order_id%>">
    <td>
      <%=check_box_tag nil, order.order_id, false,:id=>"check_#{order.order_id}",:class=>"order"%>
    </td>
    <!-- <td>
      <%=link_to "发送红包",admin_get_users_path(:order_id=>order.order_id)%>
    </td> -->
    <td><%=link_to order.order_id,detail_admin_order_path(order),:target=>"_blank"%></td>        
    <td><%=order.member_id%></td>
    <td><%=order.ship_name%></td>
    <td><%=order.created_at%></td>
    <td><%=order.status_text%></td>
    <td><%=order.pay_status_text%></td>
    <td><%=order.ship_status_text%></td>
    <td><%=number_to_currency order.final_amount,:unit=>"&yen;",:precision=>2%></td>
    <!-- <td><%#=number_to_currency order.weihuo_share.amount,:unit=>"&yen;",:precision=>2%></td> -->
    <td><%=order.shop_id%><%#=order.weihuo_shop.name if order.shop_id%></td>
    <td><%#=order.weihuo_shop.member_id if order.shop_id%></td>
  </tr>
  <%@total +=order.final_amount*0.1%>
  <%end if @orders%>
  <td colspan="9">&nbsp;</td>
  <td><%=number_to_currency @total,:unit=>"&yen;",:precision=>2%></td>
  <td colspan="3">&nbsp;</td>
  </tbody>
</table>
<div class="paginations">
  <%=will_paginate @orders,:container=>false if @orders%>
</div>
