 <!-- header -->
    <header id="header">
        <div class="container">
            <!-- main header -->
            <div class="row">
                <div class="main-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="logo">
                                <a href="/"><img src="/assets/store/logo_big.png" style="height:50px" alt="Logo"></a>
                            </div>
                            <div class="shop-menu">
                                <div class="icon">
                                    <span><img src="/assets/store/slogan.png"></span>
                                </div>
                                <!-- Block vertical-menu -->
                                <div class="block block-vertical-menu">
                                    <div class="vertical-head">
                                        <h5 class="vertical-title">Categories</h5>
                                    </div>
                                    <div class="vertical-menu-content">
                                        <ul class="vertical-menu-list">
                                            <li class="vertical-menu1"><a class="parent" href="#">Fashion</a>
                                                <div class="vertical-dropdown-menu">
                                                    <div class="vertical-groups col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu">
                                                                    <h3 class="head">PRODUCTS SPECIAL</h3>
                                                                    <div class="inner">
                                                                        <p>Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <div class="row mega-products">
                                                                    <div class="col-sm-4 mega-product">
                                                                        <div class="product-avatar">
                                                                            <a href="#"><img src="/new/p10.jpg" alt="product1"></a>
                                                                        </div>
                                                                        <div class="product-name">
                                                                            <a href="#">Cotton Lycra Leggings</a>
                                                                        </div>
                                                                        <div class="price-box">
                                                                            <span class="product-price">$139.98</span>
                                                                            <span class="product-price-old">$169.00</span>
                                                                        </div>
                                                                        <div class="product-star">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star-half-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 mega-product">
                                                                        <div class="product-avatar">
                                                                            <a href="#"><img src="/new/p11.jpg" alt="product1"></a>
                                                                        </div>
                                                                        <div class="product-name">
                                                                            <a href="#">Cotton Lycra Leggings</a>
                                                                        </div>
                                                                        <div class="price-box">
                                                                            <span class="product-price">$139.98</span>
                                                                            <span class="product-price-old">$169.00</span>
                                                                        </div>
                                                                        <div class="product-star">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star-half-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 mega-product">
                                                                        <div class="product-avatar">
                                                                            <a href="#"><img src="/new/p12.jpg" alt="product1"></a>
                                                                        </div>
                                                                        <div class="product-name">
                                                                            <a href="#">Cotton Lycra Leggings</a>
                                                                        </div>
                                                                        <div class="price-box">
                                                                            <span class="product-price">$139.98</span>
                                                                            <span class="product-price-old">$169.00</span>
                                                                        </div>
                                                                        <div class="product-star">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star-half-o"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="vertical-menu2">
                                                <a class="parent" href="#">Mother & Baby</a>
                                                <div class="vertical-dropdown-menu">
                                                    <div class="vertical-groups">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border banner-hover">
                                                                    <a href="#"><img src="/new/b42.png" alt="Banner"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="block-content-vertical-menu banner-hover">
                                                                    <a href="#"><img src="/new/b43.png" alt="Banner"></a>
                                                                </div>
                                                                <div class="block-content-vertical-menu">
                                                                    <div class="inner">
                                                                        <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. </p>
                                                                        <a href="#" class="button-radius">Shop now<span class="icon"></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="block-content-vertical-menu border-left">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Men's Apparel</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Women's Apparel</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Watch sport</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="vertical-menu3">
                                                <a class="parent" href="#">Cosmetics</a>
                                                <div class="vertical-dropdown-menu">
                                                    <div class="vertical-groups">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <div class="inner-img">
                                                                        <a href="#"><img src="/new/4.jpg" alt="Banner"></a>
                                                                    </div>
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <div class="inner-img">
                                                                        <a href="#"><img src="/new/5.jpg" alt="Banner"></a>
                                                                    </div>
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <div class="inner-img">
                                                                        <a href="#"><img src="/new/6.jpg" alt="Banner"></a>
                                                                    </div>
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <div class="inner-img">
                                                                        <a href="#"><img src="/new/7.jpg" alt="Banner"></a>
                                                                    </div>
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="vertical-menu4"><a href="#">Electronics</a></li>
                                            <li class="vertical-menu5"><a href="#">Interior</a></li>
                                            <li class="vertical-menu6">
                                                <a href="#">Sport</a>
                                            </li>
                                            <li class="vertical-menu7"><a href="#">Mobile & Tablet</a></li>
                                            <li class="vertical-menu8"><a href="#">Other</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- ./Block vertical-menu -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-5">
                            <div class="form-inline advanced-search box-radius">
                                <form accept-charset="UTF-8" action="/search" method="get">
                                    <div class="form-group search-category">
                                        <select id="category-select" class="search-category-select">
                                            <option value="1">所有分类</option>
                                        </select>
                                    </div>
                                    <div class="form-group search-input">
                                        <input id="search_input" name="q" placeholder="请输入搜索关键字" value="<%= controller_name=="search" ? params[:q] : Ecstore::Config.get(:search_key)%>">
                                    </div>
                                    <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="wrap-block-cl">
                                <div class="inner-cl box-radius">
                                    <%if @user%>
                                    <div class="dropdown user-info">
                                      <a data-toggle="dropdown" role="button"><i class="fa fa-user"></i></a>
                                      <ul class="dropdown-menu">

                                            <li><a href="/member"><i class="fa fa-user"></i> 我的贸威</a></li>
                                            <li><a href="/member/favorites"><i class="fa fa-heart-o"></i> 我的收藏</a></li>
                                            <li><a href="/member/orders"><i class="fa fa-arrow-circle-right"></i> 我的订单</a></li>
                                            <li><a href="/logout"><i class="fa fa-sign-in"></i> 退出</a></li>
                                      </ul>
                                    </div>
                                    <div class="language">
                                      <%=truncate2(@user.account.login_name,:length=>5)%>
                                  </div>
                                   <div class="currency">
                                        <a class="loggedin" href="/logout">退出</a>
                                    </div>
                                     <div class="block-wrap-cart">
                                        <div class="iner-block-cart">
                                            <a id="cart_link" href="#" class="cart-link <%='login' unless signed_in?%>">
                                              购物车
                                              <span class="cart-number" id='cart_number_111'><%=@cart_total_quantity%></span>
                                              </a>
                                        </div>
                                        <div class="block-mini-cart">
                                        </div>
                                        <div class="block-mini-cart">
                                            <div class="mini-cart-content">
                                            <h5 class="mini-cart-head"><span class="cart-number"><%=@cart_total_quantity%></span>件商品</h5>
                                            <div class="mini-cart-list">
                                            </div>
                                            <div class="total-cart">
                                                <span>商品总价</span>
                                                <span class="toal-price pull-right "><%=@cart_total%></span>
                                            </div>
                                            <div class="cart-buttons">
                                                <a href="#" class="button-radius btn-check-out cart-link <%='login' unless signed_in?%>"">结算<span class="icon"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <%else%>
                                    <div class="language">
                                        <a class="loggedin login girl_head" href="javascript:void(0);">登录</a>
                                    </div>
                                    <div class="currency">
                                        <a class="loggedin login" href="javascript:void(0);" id="reg">注册</a>
                                    </div>
                                    <%end%>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- main menu-->
                <div class="main-menu">
                    <div class="container">
                        <div class="row">
                            <nav class="navbar" id="main-menu">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <a class="navbar-brand" href="#">MENU</a>
                                    </div>
                                    <div id="navbar" class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="/">首页 HOME</a></li>
                                            <li><a href="/tuan">限时特价 ON SALE</a></li>
                                            <li><a href="/galleries/129">商品馆 GALLERIES</a></li>
                                            <li><a href="/brands">品牌专区 BRANDS</a><span class="ch_sp_tag new1"></span></li>
                                            <li><a href="/gallery/483?type=1">商品分类 CATEGORIES</a></li>
                                            <!-- <li><a href="/distributions">供配频道 SUPPLY-DISTRIBUTION</a></li> -->
                                            <li><a href="/events/foodie?supplier_id=78">活动吧 EVENTS</a></li>
                                        </ul>
                                    </div><!--/.nav-collapse -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- ./main menu-->
            </div>

    </header>
    <!-- ./header -->
