
<title><%=@brand.brand_name%></title>
<meta name="description" content="贸威微店，微店频道盛大开业！正品保证，闪电发货。快来关注你喜欢的微店吧">
<meta name="keywords" content="贸威,微店,购物,正品">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<script type="text/javascript">
    var recordTimeData = [[(new Date()), 1470, 136, 5, 1470, 136, 6, 1470, 136, 7]],
    recordTimeDataHT=[[(new Date()), 1470, 120,15, 1470, 120,16, 1470, 120,17,1470,120,42]];
    recordTimeData.diffNetwork=recordTimeDataHT.diffNetwork = true;
</script>
<!-- #include virtual="/sinclude/cssi/wx/mall/wei.shtml"-->
<script type="text/javascript">recordTimeData[1]=recordTimeDataHT[1]=Date.now();</script>
<style type="text/css">
    body {font-family: "\5fae\8f6f\96c5\9ed1",Helvetica,Arial,sans-serif;}
</style>

<link rel="stylesheet" href="/new_mobile/css/mod_bar_history.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/mod_bar_download.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/wx_bar.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/wx_bar_v2.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/mall.s.min.css">
<link rel="stylesheet" href="/new_mobile/css/wei.s.min.css?t=1432983857739">
<link rel="stylesheet" href="/new_mobile/css/search_panel.s.min.css"  id="loadCss0.49526069639250636">


<script charset="utf-8" async="" src="./微店_files/wq.microstore.201506021109.js"></script>
<script type="text/javascript" src="./微店_files/jd.smartbox.min.js"></script>
</head>

<body>
  <textarea class="J_viewData" style="display:none">{"tab":4}</textarea>

  <div class="wx_bar_window" id="bigShow">
    <div class="mod_alert_mask">
    </div>
    <div class="window_box">
        <div class="inner">
            <div class="window_item" id="bigShowInner">
            </div>
        </div>
    </div>
</div>
<div class="dacu_banner_mask" style="display: none"></div>
<div id="topsearchbar" class="wx_search wx_search_chanel_mode" data-switchstyle="0" data-showcurtain="0" data-hotrd="37080.5.4" data-searchrd="37080.5.4" data-placeholder="" data-mpj="118" data-index="2" data-switchclassname="">
  <div class="wx_search_inner">
    <div class="wx_bar_cate">
        <span id="__cate" ptag="37080.5.1" class="icon_cate"></span>
    </div>

    <form action="/mobile/mobile_search" method="get" class="wx_search_form">
        <input name="q" class="wx_search_txt" placeholder="德国香肠" ptag="37080.5.2" type="search" id="topSearchTxt" autocomplete="off">


        <a class="wx_search_clear" href="javascript:;" id="topSearchClear">x</a>
    </form>
    <div class="wx_search_act">
        <a href="javascript:;" id="topSearchbtn" class="wx_search_ov" style="display:none"><span ptag="37787.1.2">换新版</span></a>
        <span id="topSearchCbtn" class="wx_search_btn" style="display:none">取消</span>
    </div>
</div>

</div>

<script>
    if(((JD.cookie.get('wq_graytag') & 8)==0 && !JD.cookie.get('wq_oldversion')) ||JD.url.getUrlParam("title")  ){

       document.getElementById("topsearchbar").dataset.switchstyle="0";
   }
</script>
<script type="text/javascript">
window.speedTimePoint&&(speedTimePoint[9]=new Date());//342
</script>
<div class="wx_side_menu">
    <div class="mod_alert_mask"></div>
    <div class="menu_box">
        <div class="inner">
            <div class="menu_hd">
            </div>
            <div class="menu_bd" id="yScroll1" style="display:none;overflow:hidden;position:absolute">
                <div class="menu_list" style="display: none; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); -webkit-transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; -webkit-transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                    <!--WEBPAGEBEGIN@6431-->
                    <div class="item" data-href="/portal/wx/digit_mall.shtml?PTAG=37080.12.1" data-dis="" data-strong=""><i class="icon_m" style="background: url(http://wq.360buyimg.com/img/20150423/pcd_icon_3c.png) no-repeat; background-size: 100%;"></i>电器数码城<span class="new" style="display:none"></span><span class="hot" style="display:none"></span></div><div class="item" data-href="/portal/wx/chaoshi.shtml?PTAG=37080.12.2" data-dis="" data-strong=""><i class="icon_m" style="background: url(http://img11.360buyimg.com/jdphoto/s40x40_jfs/t1072/232/643107197/1395/df47e911/5538d952N8e6a4676.png) no-repeat; background-size: 100%;"></i>贸威超市<span class="new" style="display:none"></span><span class="hot" style="display:none"></span></div><div class="item" data-href="/portal/wx/jiadianguan.shtml?PTAG=37080.12.3" data-dis="" data-strong=""><i class="icon_m" style="background: url(http://img11.360buyimg.com/jdphoto/s40x40_jfs/t901/38/652412697/1088/b8a1f61b/5538d949N70218103.png) no-repeat; background-size: 100%;"></i>家电馆<span class="new" style="display:none"></span><span class="hot" style="display:none"></span></div><div class="item" data-href="/portal/wx/yundongguan.shtml?PTAG=37080.12.4" data-dis="" data-strong=""><i class="icon_m" style="background: url(http://img11.360buyimg.com/jdphoto/s40x40_jfs/t1063/27/661419772/1669/6ff61fa/5538d957Ndf326e58.png) no-repeat; background-size: 100%;"></i>运动健康馆<span class="new" style="display:none"></span><span class="hot" style="display:none"></span></div><div class="item" data-href="/portal/wx/xin.shtml?PTAG=37080.12.5&amp;title=1" data-dis="" data-strong=""><i class="icon_m" style="background: url(http://img11.360buyimg.com/jdphoto/s40x40_jfs/t751/100/1378588789/1635/455930a8/5538d961N680d0208.png) no-repeat; background-size: 100%;"></i>首发<span class="new" style="display:none"></span><span class="hot" style="display:none"></span></div><div class="item" data-href="/mcoss/mportal/show?tpl=11&amp;tabid=11&amp;PTAG=37080.12.6&amp;title=1" data-dis="" data-strong="1"><i class="icon_m" style="background: url(http://img11.360buyimg.com/jdphoto/s40x40_jfs/t817/363/678234978/1370/3be55859/5538d945N21482b1e.png) no-repeat; background-size: 100%;"></i>品牌<span class="new" style="display:none"></span><span class="hot"></span></div><div class="item" data-href="/mcoss/mportal/show?tabid=9&amp;tpl=9&amp;PTAG=37080.12.7&amp;title=1" data-dis="" data-strong=""><i class="icon_m" style="background: url(http://img11.360buyimg.com/jdphoto/s40x40_jfs/t925/297/578435459/1529/4e89c4c7/5538d94eN83c7f182.png) no-repeat; background-size: 100%;"></i>特价<span class="new" style="display:none"></span><span class="hot" style="display:none"></span></div><div class="item" data-href="/portal/wx/microstore.shtml?PTAG=37080.12.8&amp;title=1" data-dis="" data-strong=""><i class="icon_m" style="background: url(http://img11.360buyimg.com/jdphoto/s40x40_jfs/t988/5/660836885/1329/65ff1ec6/5538d95cN0fc6ea83.png) no-repeat; background-size: 100%;"></i>微店<span class="new" style="display:none"></span><span class="hot" style="display:none"></span></div><div class="item" data-href="/portal/wx/category_m.shtml?PTAG=37080.12.9" data-dis="" data-strong=""><i class="icon_m" style="background: url(http://img11.360buyimg.com/jdphoto/s40x40_jfs/t1405/312/353164650/1185/2c92df86/55781255Ndded211a.png) no-repeat; background-size: 100%;"></i>全部商品分类<span class="new" style="display:none"></span><span class="hot" style="display:none"></span></div><!--WEBPAGEEND@6431-->

                </div>
            </div>
        </div>
    </div>
</div>



<div id="smartboxBlock"><div class="search_panel_wrapper" dtab="s-tab" style="display:none;"><div class="search_panel_title"><div class="text">最近搜索</div><div class="title_btn" dtab="s-btn" cg="1-6-13" rd="7095.8.1">清除</div></div><div class="search_panel_con two_row" dtab="s-row"></div><div class="search_panel_title"><div class="text">热门搜索</div><div class="title_btn" dtab="c-btn" cg="1-7-1" rd="7095.8.2">换一批</div></div><div class="search_panel_con" dtab="s-tag"></div></div><div class="s_row" dtab="smartWrap" style="display:none;"> </div></div>
<script type="text/javascript">
window.speedTimePoint&&(speedTimePoint[10]=new Date());//342
</script>
<script>

    ! function() {

        function showFirstTips() {
            if(location.href.indexOf("/portal/wx/index.shtml")==-1){return $(".wx_bar_guide_area").remove();}
            var hasShowInst = JD.cookie.get(tipsKey);
            hasShowInst ? $(".wx_bar_guide_area").remove() : $(".wx_bar_guide_area").show();
        }

        function go(searchLink) {
            location.href = searchLink;
        }

        var  tipsKey = "jd_newversion_062021",
        bar = document.getElementById("topsearchbar"),
        topSearchbtn = document.getElementById("topSearchbtn"),
        searhPanel = document.querySelector(".wx_search_form"),
        barData = bar.dataset,
        switchword = "1" == barData.homepage ? "<span ptag='37787.1.1'>换旧版</span>" : "<span ptag='37787.1.2'>换新版</span>",
        switchurl = "1" == barData.homepage ? "/mcoss/wxmall/home?ptype=1&ptag=37787.1.2" : "/portal/wx/index.shtml?ptag=37787.1.1";
        barData.index = 2, barData.switchclassname = "1" == barData.switchstyle ? " wx_search_promote" : "";

        searhPanel.className = searhPanel.className + barData.switchclassname;

        topSearchbtn.innerHTML = switchword;

        barData.switchstyle == "1" && (topSearchbtn.style.display = "",
            barData.switchstyle == "1" && document.querySelector(".wx_search_ov").addEventListener("touchstart", function(e) {
                if (e.srcElement && -1 === e.srcElement.className.indexOf("wx_search_btn")) {
                    var wq_graytag,oldversion;
                    if (barData.homepage) {
                        wq_graytag = -9 & JD.cookie.get("wq_graytag");
                        oldversion=1;

                        JD.report.rd("37787.1.2");
                    } else {
                        wq_graytag=8 | wq_graytag;
                        oldversion=0;
                    }
                    JD.cookie.set("wq_graytag", wq_graytag, 864e3, "/", "jd.com"), JD.cookie.set("wq_oldversion", oldversion, 864e3, "/", "jd.com");
                    e&& e.stopPropagation() && e.preventDefault();
                    location.href = switchurl;
                }
            }, !1)), window.closeSearchEntrance ? bar.style.display = "none" : (window._searchbar = barData,

        //入口文件后执行
        JD.events.listen("wq.wx.menu_ready", function(s1) {
            var Bar, stopMove, clickEvent = "ontouchstart" in window ? "tap" : "click",
            wx_side_menu = $(".wx_side_menu"),
            wx_search_chanel_mode = $(".wx_search_chanel_mode"),
            bigShow = $("#bigShow"),
            menu_list = $(".menu_list"),
            guide = $(".wx_bar_guide_area"),
            wx_search_inner = $(".wx_search_inner"),
            showMenu = function(hide) {
                JD.events.trigger("event_checkpopmenu", hide);
            },
            stopMove = function(e) {
                0 == $(e.target).parents(".stopmove").length && (e.preventDefault());
            };
            menu_list.find(".item[data-dis=new] .new").show();
            menu_list.find(".item[data-strong='1'] .hot").show();

            JD.events.listen("event_checkpopmenu", function(hide) {
                if (hide || menu_list.css("display") !== "none") {
                    wx_side_menu.removeClass("show");
                    wx_search_chanel_mode.removeClass("wx_search_show_menu");
                    JD.events.trigger("event_hidecurtain");
                    setTimeout(function() {
                        menu_list.hide().parent().hide();
                    }, 500);
                    $(document).unbind("touchmove", stopMove, !1)
                } else {

                    wx_search_chanel_mode.removeClass("wx_search_show_window").addClass("wx_search_show_menu");
                    wx_side_menu.addClass("show");
                    bigShow.removeClass("show");
                    $(document).bind("touchmove", stopMove, !1);
                    if (wx_search_chanel_mode.hasClass("fixed")) {
                        menu_list.show().parent().show();
                    } else {
                        setTimeout(function() {
                            menu_list.show().parent().show();
                        }, 500);
                        menu_list.show().parent().show();
                        window.scrollTo(0, 0);
                        menu_list.show().parent().show().css("top", (wx_search_inner.offset().top + wx_search_inner.height() - 1) + "px");
                    }

                    s1.refresh();
                }
            });
menu_list.find(".item").on(clickEvent, function(e) {
    var target = $(e.target);
    e.preventDefault(), e.stopPropagation(), go(target.data("href") || $(target).parents("[data-href]").attr("data-href"));
}), Bar = {
    init: function() {

        this.init_tab(), this.init_menu(), this.init_guide();
    },
    init_tab: function() {

        wx_search_inner.on(clickEvent, function(e) {
            showMenu(true);
        });
    },
    init_menu: function(e) {

        var mask = wx_side_menu.find(".mod_alert_mask"),
        fold = wx_side_menu.find(".fold"),
        on_click = function(e) {
         if(e&&$(e.target).attr("class")=="icon_cate"){
          JD.report.rd($(e.target).attr("ptag"));
      }
      e && (e.preventDefault(), e.stopPropagation());
      showMenu(false);

  },
  on_menu = function(e) {
    var elm = $(e.target).closest(".menu_list");
    elm.length > 0 || on_click();
};
wx_search_chanel_mode.find(".wx_bar_cate").on(clickEvent, on_click), mask.on(clickEvent, on_click), fold.on(clickEvent, on_click),
wx_side_menu.on(clickEvent, on_menu);
},
init_guide: function() {
    var on_clear = function() {
        guide.remove();
    },
    on_click = function() {
                            JD.cookie.set(tipsKey, 1, 5256e4, "/", "jd.com"), //确保展示一次
                            guide.addClass("fade"), timer = setTimeout(on_clear, 500);
                        };
                        guide.on(clickEvent, on_click);
                    }
                }, Bar.init(), window._navfoot && showFirstTips();
            }));
}();
</script>
<script type="text/javascript">
window.speedTimePoint&&(speedTimePoint[11]=new Date());//342
</script>


<div class="WX_tab_bnr" id="topTong">

</div>

<!-- <div class="WX_tab Top_tab WX_tab_fixed" id="toolbarHead">
    <div class="WX_tab_wrap">
        <span class="WX_tab_inner">
            <a id="__xinTab" ptag="37035.8.3" href="/mobile">首发</a>
            <a id="__brandTab" ptag="37035.8.1" href="/mobile">品牌</a>
            <a id="__juhuiTab" ptag="37035.8.2" href="/tuan">特价</a>
            <a id="__weiTab" href="/mobile">商品馆</a>
        </span>
    </div>
</div>-->
<script type="text/javascript">
    window.getMicroStoreRedPoint=function(cb){
        if(typeof(cb)!='function'){return}
            var callback=cb,jsonCallbackName='jsonpCBMicroStoreRedPoint',beginTime,now=new Date(),sc=document.createElement('script'),info,infoKey='microstoreredpoint';
        var recordDate=now.getFullYear()+'-'+now.getMonth()+'-'+now.getDate();
        try{info=JSON.parse(localStorage.getItem(infoKey))||{date:0};}catch(e){info={date:0}}
        if(info.date==recordDate){callback(!!0);return}
        if(info.date==0){beginTime=now.getTime()-3600*1000*24}
            else{
                var tempt=new Date(0),arr=info.date.split('-');
                tempt.setFullYear(arr[0]-0);tempt.setMonth(arr[1]-0);tempt.setDate(arr[2]-0);
                beginTime=tempt.getTime();
            }
            sc.onerror=function(){callback(false)};
            window[jsonCallbackName]=function(d){
                var val=false;
                if(d.ret==0){
                    if(d.data.length!=0){val=true}
                        info.date=recordDate;localStorage.setItem(infoKey,JSON.stringify(info));
                }
                callback(val);
            };
            sc.src='/weidian/column/QueryNewSkus?callback='+jsonCallbackName+'&begintime='+(beginTime/1000).toFixed(0)+'&size=1';
            document.head.appendChild(sc);
        }
    </script>
    <script type="text/javascript">
        window.speedTimePoint&&(speedTimePoint[8]=new Date());
    </script>
    <script>
        window._navfoot = {};
        ! function() {
            function $id(id) {
                return document.getElementById(id);
            }

            function showTopAd() {
                var curAd, i, j, now = new Date();
                for (i = 0, j = wx_portal_ad_tong.length; j > i; i++)
                    if (now >= new Date(wx_portal_ad_tong[i].startTime.replace(/-/g, "/")) && now < new Date(wx_portal_ad_tong[i].endTime.replace(/-/g, "/"))) {
                        curAd = wx_portal_ad_tong[i];
                        break;
                    }
                    if(!curAd){return ;}
                    $id("topTong").innerHTML='<a href="' + (curAd.needLogin==1?('/mlogin/wxv3/login_BJ?rurl='+encodeURIComponent(curAd.link)+'&appid=1'):curAd.link) + '"><img src="' + curAd.urlImg1 + '" alt=""></a>';
                }


                function showCurtain() {
                    function showBigPic() {
                        bLoadBigPic || ($id("bigShowInner").innerHTML = '<a href="' + curAd.link + '" id="big">  <img src="' + curAd.urlImg1 + '" alt="" > </a>',
                            bLoadBigPic = !0);
                    }
                    var curAd, i, j, searchform, btn, mywindow, search, on_click, now = new Date(),
                    curtainAdShow = JD.cookie.get("curtainAdShow"),
                    mask = (document.getElementById("curtainHead"),
                        bigShow = $id("bigShow"),
                        document.getElementById("mallHead"), document.querySelector(".dacu_banner_mask")),
                    bLoadBigPic = !1;
                    for (i = 0, j = wx_curtainad.length; j > i; i++)
                        if (now >= new Date(wx_curtainad[i].startTime.replace(/-/g, "/")) && now < new Date(wx_curtainad[i].endTime.replace(/-/g, "/"))) {
                            curAd = wx_curtainad[i];
                            break;
                        }
                        if(curAd){
                            document.querySelector(".wx_search_act").innerHTML = document.querySelector(".wx_search_act").innerHTML + ' <a href="javascript:;" class="wx_search_pt" id="btnShowCurtain"><img src="' + curAd.urlImg2 + '" alt=""></a>',
                            btn = document.querySelector(".wx_search_pt"), mywindow = document.querySelector(".wx_bar_window"),
                            mask = mywindow.querySelector(".mod_alert_mask"), search = document.querySelector(".wx_search_chanel_mode"),
                            on_click = function(e) {
                                e && (e.preventDefault(), e.stopPropagation());
                                showBigPic(), bigShow.className = "wx_bar_window" == bigShow.className ? "wx_bar_window show" : "wx_bar_window";
                                JD.events.trigger("event_checkpopmenu", true);
                                var clsName = bar.className;
                                if (bigShow.className.indexOf("show") === -1) {
                                    JD.events.trigger("event_hidecurtain");
                                } else {
                                    clsName.indexOf("wx_search_show_window") === -1 && (bar.className = clsName + " wx_search_show_window");
                                    document.addEventListener("touchmove", stopMove, !1)
                                }
                            };
                            btn.addEventListener("touchstart", on_click, !1);
                            mask.addEventListener("touchstart", on_click, !1);
                            if( curAd.check && !curtainAdShow  ){
                                showBigPic();
                                window.setTimeout(function() {
                                   ( bigShow.className !== "wx_bar_window")&& on_click();
                               }, 10000);
                                on_click();
                                JD.cookie.set("curtainAdShow", 1, Math.round((new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1) - now) / 6e4), "/", "jd.com");
                            }


                            searchform = document.querySelector(".wx_search_form"), searchform.className = searchform.className + " wx_search_promote";
                        }
                    }


                    function $id(id) {
                        return document.getElementById(id);
                    }




                    function setTab() {
                        function checkBar() {
                            window.scrollY > 45 ? -1 === wxTab.className.indexOf("WX_tab_fixed") && (wxTab.className += " WX_tab_fixed") : wxTab.className.indexOf("WX_tab_fixed") > -1 && (wxTab.className = wxTab.className.replace(" WX_tab_fixed", ""));
                        }

                        var wxTab,
                        viewData = document.querySelector(".J_viewData") ? JSON.parse(document.querySelector(".J_viewData").value) : {
                            viewData: 3
                        },
                        xTab = $id('__xinTab'),
                        bTab = $id('__brandTab'),
                        jTab = $id('__juhuiTab'),
                        wTab = $id('__weiTab');
        //顶部tab
        if (viewData.tab == 1) {
            xTab.className = 'on';
        } else if (viewData.tab == 2) {
            bTab.className = 'on';
        } else if (viewData.tab == 3) {
            jTab.className = 'on';
        } else if(location.href.indexOf("/portal/wx/microstore.shtml")>-1){
            wTab.className = 'on';
        }

        if (!JD.device.sticky) {
            wxTab = document.querySelector(".WX_tab");
            document.addEventListener("touchmove", function() {
                checkBar();
            });
            document.addEventListener("scroll", function() {
                checkBar();
            });
        }
    }

    function init() {
        var version = JD.url.getUrlParam("wq_version"),
        gray_version = JD.cookie.get("wq_graytag") || JD.url.getUrlParam("wq_graytag"),
        _oldversion = JD.cookie.get("wq_oldversion"),
        tipsKey = "jd_newversion_062021";
        JD.url.getUrlParam("title") && (document.body.removeChild(document.querySelector("#toolbarHead")));
        !JD.url.getUrlParam("title") && setTab();
        //购物圈，幕帘，顶部通栏逻辑
        version - 6 === 0 && JD.cookie.set("wq_version", 6, 864000, "/", "jd.com");
        gray_version - 8 === 0 && JD.cookie.set("wq_graytag", 8, 864000, "/", "jd.com");
        if (window._isYx) {
            showYx();
        } else {

            0 == (8 & gray_version) && !_oldversion && JD.cookie.get(tipsKey) && !JD.url.getUrlParam("title") && showCurtain();
            !JD.url.getUrlParam("title") && showTopAd();
        }
    }
    var stopMove = function(e) {
        e.preventDefault();
    },
    bar = $id("topsearchbar");
    init();

    JD.events.listen("event_hidecurtain", function() {
        var clsName = bar.className;
        clsName.indexOf("wx_search_show_window") !== -1 && (bar.className = clsName.replace(" wx_search_show_window", ""));

        document.removeEventListener("touchmove", stopMove, !1)

    });



    //该方法在微店tab显示小红点
   /* getMicroStoreRedPoint(function(hasRedpoint) {

        var el, A;
        if (hasRedpoint) {
            el = document.createElement("i");
            el.className = "WX_update";
            A = document.getElementById("__weiTab");
            A.appendChild(el);
            A.href += "&tab=2";
        }
    });*/
}();
</script>
<script type="text/javascript">recordTimeData[5]=recordTimeDataHT[5]=Date.now();</script>
<!--ppms配置数据-->
<div style="display:none;">
    <div id="ppmsdata_img" style="display:none">
        <!--WEBPAGEBEGIN@6170--><p dpos="1" dsmall="" dlink="/mshop/gethomepage?venderid=120040?ptag=37529.2.3" id="configImage_1">http://img11.360buyimg.com/jdphoto/s640x300_jfs/t928/183/1276947049/76337/49f581e5/558a0a00N51325abd.jpg</p>
        <p dpos="2" dsmall="" dlink="" id="configImage_2">http://wq.360buyimg.com/img/20150330/pcd_e0327662-5583-48be-923f-eb6867ee50c001.jpg</p>
        <p dpos="3" dsmall="" dlink="" id="configImage_3">http://wq.360buyimg.com/img/20150330/pcd_495ea5c4-6ccb-41d8-94d5-561b3521be7a.jpg</p>
        <!--WEBPAGEEND@6170-->
    </div>
    <div id="ppmsdata_list">
        <!--WEBPAGEBEGIN@6171--><div class="list1" dcpt="" dact="" darea="">
        <p class="title">主题微店</p>
        <p class="desc">热门主题 精选微店</p>
    </div><div class="list2" dcpt="2427" dact="" darea="">
    <p class="title">粉丝福利</p>
    <p class="desc">关注公众号，福利领不停</p>
</div><div class="list3" dcpt="" dact="" darea="">
<p class="title">热门微店</p>
<p class="desc">最受粉丝热捧TOP好店</p>
</div><div class="list4" dcpt="" dact="" darea="">
<p class="title">精选热门微店</p>
<p class="desc"></p>
</div><!--WEBPAGEEND@6171-->
</div>

</div>
<div id="ppmsdata_bottom">
    <!--WEBPAGEBEGIN@6310--><p dgid="2438" dlocationid="6684"></p>
    <!--WEBPAGEEND@6310-->
</div>
</div>
<!--ppms配置数据-->
<div class="wx_wrap wei_v2">
    <!-- S Banner -->
    <div class="wei_banner_small" id="divTopBanner" style="display:none">
        <img id="imgTopBanner" onload="topBannerOnload();" onerror="topBannerOnerror();" src="./微店_files/558a0a00N51325abd.jpg">
    </div>


    <!-- S Taber -->
    <div class="wei_tab_box fixed" id="divTabList" style="display:none">
        <div class="mod_fix">
            <div class="wei_tab">
                <a id="aRecommendShopBtn" class="cur" href="javascript:;" ptag="37529.3.1">推荐微店</a>
                <a id="aFollowShopBtn" href="javascript:;" ptag="37529.3.2">我关注的微店</a>
            </div>
        </div>
    </div>
    <!-- E Taber -->

    <!-- all brands -->
    <div class="all-brands" style="text-align:center;margin-bottom:20px;">
        <a href="javascript:;" onclick="allBrands();" class="btn btn-primary"><h1>所有品牌</h1></a>
    </div>
    <!-- S tab容器 : 推荐微店  -->
    <div id="all-brands" style="margin-left:5%;display:none;">
        <% Ecstore::Brand.where(:disabled => 'false').each_with_index do |brand, index|%>
        <% if index % 2 == 0 %>
        <div>
            <% end %>
            <span class="brands-name" style="margin-left:40px;">
                <%= link_to brand.brand_name, "/mobile/brand?brand_id=#{brand.brand_id}", :style => 'font-size:1.4em' %>
            </span>
            <% if index % 2 == 0 %>
        </div>
        <% end %>
        <%end%>
    </div>

    <div class="wei_section_title">
        <h2><%= @brand.brand_name %></h2>
        <span>热门品牌 精选微店</span>
    </div>

    <div id="divThemeShopGroup" class="brand-goods" style="margin-left:5%;">
        <!--99是一个特殊的混合排列-->


        <% @goods.each do |good|%>
        <div class="item" dpos="1|0" ptag="37790.1.165"style="float:left;width:45%;margin:0 0 10px 5px">
           <a href="/mobile/<%=good.goods_id%>" class="url">

               <div class="img">
                  <img src="<%=good.medium_pic%>" style="float:left;width:95%;">

              </div>
               <br/>
              <div class="info">
                 <div class="name">
                     <%=good.name%>
                 </div>
                 <div class="gift"style="text-align:center;">
                     <span style="color:#e33a3c;font-size:1.1em">
                         ¥<%=good.price%> &nbsp;
                     </span>
                     <span class="" style="text-decoration:line-through;font-size:0.9em">
                        ¥<%=good.mktprice%>
                    </span>
                </div>
            </div>
        </a>
    </div>
    <%end%>
</div>

</section>
<div class="clear" style="clear:both"></div>
<!-- E 主题微店 -->

<!-- S 本日上新 -->
<!--上一版的内容 已废弃-->
<section id="" class="wei_section hide">
    <h2 id="" class="wei_title"><span></span><small></small></h2>
    <div id=""></div>
</section>
<!-- E 本日上新 -->

<!-- S 粉丝福利-->
<section id="section3" class="wei_section" style="display:none">
    <div class="wei_section_title">
        <h2>粉丝福利</h2>
        <span>关注公众号，福利领不停</span>
    </div>
    <div class="wei_shop_pro_list" id="divInSection3">          <div class="item">         <a href="/mshop/gethomepage?venderid=38339&mid=726143&DAP=5509753876895542484:1689135655987771709:4:726143&pps=focus.00000004030002%3A000b147f0000097b%3A%3A630016" class="url" ptag="37773.7.1">             <div class="sign sign_3">抽奖</div>             <div class="img">                 <img src="./微店_files/5588c37fNa5be6f14.jpg.webp" alt="">             </div>             <div class="info">                 <div class="name">ZK官方旗舰店</div>                 <div class="desc">欧美大牌简约；用心细节，专注品质！</div>                 <div class="fav">                     <span class="btn" durl="http://mp.weixin.qq.com/s?__biz=MzA4NTU3NTc2NA==&amp;mid=205695961&amp;idx=1&amp;sn=86674d4410d987b5a1d0f12f7ff9ce64&amp;ptlang=2052&amp;ADUIN=518800538&amp;ADSESSION=1435124570&amp;ADTAG=CLIENT.QQ.5389_.0&amp;ADPUBNO=26466#rd" dvender="38339" ptag="37773.7.2">去逛逛</span>                     <span class="tip">进店关注服务号</span>                     <span class="gift">有机会抽连衣裙</span>                 </div>             </div>         </a>     </div>          <div class="item">         <a href="/mshop/gethomepage?venderid=14306&mid=726423&DAP=5509753876895542484:1689135655987771709:4:726423&pps=focus.00000004030002%3A000b15970000097b%3A%3A630016" class="url" ptag="37773.7.3">             <div class="sign sign_3">抽奖</div>             <div class="img">                 <img src="./微店_files/558a14d7Nf9ab9d9a.jpg.webp" alt="">             </div>             <div class="info">                 <div class="name">camel骆驼户外旗舰店</div>                 <div class="desc">camel骆驼户外，以打造专业户外品牌为目标，是以户外功能性体验为中心的户外越野领导品牌。</div>                 <div class="fav">                     <span class="btn" durl="http://mp.weixin.qq.com/s?__biz=MzA4OTEyMzE5Nw==&amp;mid=204926230&amp;idx=1&amp;sn=5ffad266c7063fd6cbdffb5a86245569#rd" dvender="14306" ptag="37773.7.4">去逛逛</span>                     <span class="tip">进店关注服务号</span>                     <span class="gift">有机会抽50元红包</span>                 </div>             </div>         </a>     </div>          <div class="item">         <a href="/mshop/gethomepage?venderid=14036&mid=726345&DAP=5509753876895542484:1689135655987771709:4:726345&pps=focus.00000004030002%3A000b15490000097b%3A%3A630016" class="url" ptag="37773.7.5">             <div class="sign sign_2">送礼</div>             <div class="img">                 <img src="./微店_files/55890f33N07e3126f.jpg.webp" alt="">             </div>             <div class="info">                 <div class="name">CAMSSOO美骆世家官方旗舰店</div>                 <div class="desc">美骆世家年轻人的户外，以倡导“品质、个性、乐活”三位一体的运动理念</div>                 <div class="fav">                     <span class="btn" durl="http://mp.weixin.qq.com/s?__biz=MzA4OTc4NzEwNw==&amp;mid=204335808&amp;idx=1&amp;sn=6d1f080b605aaaa3dbb5fe0597158d09#rd" dvender="14036" ptag="37773.7.6">去逛逛</span>                     <span class="tip">进店关注服务号</span>                     <span class="gift">下单送户外头巾</span>                 </div>             </div>         </a>     </div>          <div class="item">         <a href="/mshop/gethomepage?venderid=18845&mid=726191&DAP=5509753876895542484:1689135655987771709:4:726191&pps=focus.00000004030002%3A000b14af0000097b%3A%3A630016" class="url" ptag="37773.7.7">             <div class="sign sign_3">抽奖</div>             <div class="img">                 <img src="./微店_files/5588ff67N31399305.jpg.webp" alt="">             </div>             <div class="info">                 <div class="name">小猪班纳官方旗舰店</div>                 <div class="desc">小猪班纳专注童装20年，品质好就是不一样</div>                 <div class="fav">                     <span class="btn" durl="http://mp.weixin.qq.com/s?__biz=MjM5OTMyMjIwOA==&amp;mid=207139291&amp;idx=1&amp;sn=e93f68d1c0c4b9eff861116bf08acb22&amp;ptlang=2052&amp;ADUIN=518800538&amp;ADSESSION=1435038984&amp;ADTAG=CLIENT.QQ.5389_.0&amp;ADPUBNO=26466#rd" dvender="18845" ptag="37773.7.8">去逛逛</span>                     <span class="tip">进店关注服务号</span>                     <span class="gift">有机会抽书包</span>                 </div>             </div>         </a>     </div>          <div class="item">         <a href="/mshop/gethomepage?venderid=17649&mid=725545&DAP=5509753876895542484:1689135655987771709:4:725545&pps=focus.00000004030002%3A000b12290000097b%3A%3A630016" class="url" ptag="37773.7.9">             <div class="sign sign_3">抽奖</div>             <div class="img">                 <img src="./微店_files/5583d334N1fed028c.jpg.webp" alt="">             </div>             <div class="info">                 <div class="name">帕森官方旗舰店</div>                 <div class="desc">帕森与优雅、自信、自由于一体，致力打造时尚生活</div>                 <div class="fav">                     <span class="btn" durl="http://mp.weixin.qq.com/s?__biz=MzA4MDY3MTYwMQ==&amp;mid=221775599&amp;idx=1&amp;sn=ba28e2b03c89128aeb022e43e9c5938e#rd" dvender="17649" ptag="37773.7.10">去逛逛</span>                     <span class="tip">进店关注服务号</span>                     <span class="gift">有机会抽取iPad</span>                 </div>             </div>         </a>     </div>      </div>
</section>
<!-- E 粉丝福利-->

<!-- S 热门微店 -->
<section id="divInSection4" class="wei_section" style="display:none">
 <div class="wei_section_title">
    <h2>热门微店</h2>
    <span>最受粉丝热捧TOP好店</span>
</div>

<div class="wei_item">             <div class="wei_item_sign">TOP 1</div>                  <a href="/mshop/gethomepage?venderid=40713&ptag=37773.8.1" class="wei_logo">                     <img src="./微店_files/549cf9a1Ne212a4de.jpg" width="90" height="30">                     <p>北极绒品牌官方旗舰店</p>                 </a>                 <a href="/mshop/gethomepage?venderid=40713&ptag=37773.8.1" class="btn_enter">去逛逛</a>                  <div class="wei_cm_list">                                      <div class="item">                         <a class="url" href="/item/view?sku=1610478645&ptag=37773.8.6">                             <div class="img"><img src="./微店_files/552640f2Ndc9c55ea.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 北极绒夏季性感女生超薄透明超弹15D包芯丝连裤袜加档打底袜子【10双装】 5双肤色+5双黑色</div>                                 <div class="cost" id="sku_1610478645">                                     <span class="price">¥69.00</span>                                     <span class="price_old">¥298.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1604977775&ptag=37773.8.6">                             <div class="img"><img src="./微店_files/5582673eN43515ae0.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 北极绒欧美风女士性感蕾丝透气镂空诱惑低腰三角裤102 3条随机色 M/1.8-2.1尺</div>                                 <div class="cost" id="sku_1604977775">                                     <span class="price">¥39.90</span>                                     <span class="price_old">¥169.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1603989652&ptag=37773.8.6">                             <div class="img"><img src="./微店_files/54f55034N07d09209.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 北极绒女士内裤【3条装】 3条装随机色 均码</div>                                 <div class="cost" id="sku_1603989652">                                     <span class="price">¥9.90</span>                                     <span class="price_old">¥99.00</span>                                 </div>                             </div>                         </a>                     </div>                               </div>                    </div>              <div class="wei_item">             <div class="wei_item_sign">TOP 2</div>                  <a href="/mshop/gethomepage?venderid=16874&ptag=37773.8.2" class="wei_logo">                     <img src="./微店_files/rBEDik_RkJcIAAAAAABADz89rXQAAAe_AHoXaIAAEAn906.jpg" width="90" height="30">                     <p>韩都衣舍旗舰店</p>                 </a>                 <a href="/mshop/gethomepage?venderid=16874&ptag=37773.8.2" class="btn_enter">去逛逛</a>                  <div class="wei_cm_list">                                      <div class="item">                         <a class="url" href="/item/view?sku=1610405055&ptag=37773.8.7">                             <div class="img"><img src="./微店_files/558a0b04Nd8fc1878.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 韩都衣舍 韩版2015夏装新款女装蓝色青年时尚修身浅色磨白印花铅笔裤牛仔裤AA4063肆 蓝色 L</div>                                 <div class="cost" id="sku_1610405055">                                     <span class="price">¥318.00</span>                                     <span class="price_old">¥658.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1610395611&ptag=37773.8.7">                             <div class="img"><img src="./微店_files/558a0957N41131a54.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 韩都衣舍 韩版2015夏装女韩版时尚舒适通勤宽松拼接印花五分袖圆领T恤AA4064柒 白色 L</div>                                 <div class="cost" id="sku_1610395611">                                     <span class="price">¥248.00</span>                                     <span class="price_old">¥528.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1606192742&ptag=37773.8.7">                             <div class="img"><img src="./微店_files/5583d4b2N5dad83c7.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 韩都衣舍 韩版2015夏装新款女装青年黑色时尚休闲显瘦短袖圆领连衣裙YK5137② 黑色 L</div>                                 <div class="cost" id="sku_1606192742">                                     <span class="price">¥103.00</span>                                     <span class="price_old">¥558.00</span>                                 </div>                             </div>                         </a>                     </div>                               </div>                    </div>              <div class="wei_item">             <div class="wei_item_sign">TOP 3</div>                  <a href="/mshop/gethomepage?venderid=17964&ptag=37773.8.3" class="wei_logo">                     <img src="./微店_files/549cfd0dNf2932cdd.jpg" width="90" height="30">                     <p>Aisaly艾莎莉旗舰店</p>                 </a>                 <a href="/mshop/gethomepage?venderid=17964&ptag=37773.8.3" class="btn_enter">去逛逛</a>                  <div class="wei_cm_list">                                      <div class="item">                         <a class="url" href="/item/view?sku=1594162464&ptag=37773.8.8">                             <div class="img"><img src="./微店_files/5576870cN6d82e974.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> aisaly天然彩棉女内裤糖果色女士内裤女式纯棉腰窝蕾丝透明性感三角裤 糖果5色 均码</div>                                 <div class="cost" id="sku_1594162464">                                     <span class="price">¥49.00</span>                                     <span class="price_old">¥159.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1594144690&ptag=37773.8.8">                             <div class="img"><img src="./微店_files/55795093Ne2bfea81.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> aisaly天然彩色纯棉女士内裤5条糖果色内裤蕾丝包臀三角裤纯棉女内裤 经典5色 均码(高弹力)</div>                                 <div class="cost" id="sku_1594144690">                                     <span class="price">¥49.00</span>                                     <span class="price_old">¥159.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1579585288&ptag=37773.8.8">                             <div class="img"><img src="./微店_files/556911f8Na186c064.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> AISALY田园风女内裤5条小碎花印花女士内裤性感蕾丝中腰莫代尔女士三角内裤 印花5色 均码(高弹力)</div>                                 <div class="cost" id="sku_1579585288">                                     <span class="price">¥59.00</span>                                     <span class="price_old">¥159.00</span>                                 </div>                             </div>                         </a>                     </div>                               </div>                    </div>              <div class="wei_item">             <div class="wei_item_sign">TOP 4</div>                  <a href="/mshop/gethomepage?venderid=44754&ptag=37773.8.4" class="wei_logo">                     <img src="./微店_files/5566857dN56f670ea.jpg" width="90" height="30">                     <p>名人瑞裳旗舰店</p>                 </a>                 <a href="/mshop/gethomepage?venderid=44754&ptag=37773.8.4" class="btn_enter">去逛逛</a>                  <div class="wei_cm_list">                                      <div class="item">                         <a class="url" href="/item/view?sku=1610982800&ptag=37773.8.9">                             <div class="img"><img src="./微店_files/558a5ff6N8b163ff3.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 名人瑞裳 2015夏季新款女装女装 欧美风千鸟格中长款修身雪纺连衣裙 千鸟格 M</div>                                 <div class="cost" id="sku_1610982800">                                     <span class="price">¥458.00</span>                                     <span class="price_old">¥1598.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1610961240&ptag=37773.8.9">                             <div class="img"><img src="./微店_files/558a5d6aN83a39de8.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 名人瑞裳 2015夏季新款女装两件套 欧美风高端印花雪纺休闲套装 黑色 M</div>                                 <div class="cost" id="sku_1610961240">                                     <span class="price">¥428.00</span>                                     <span class="price_old">¥1598.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1610928267&ptag=37773.8.9">                             <div class="img"><img src="./微店_files/558a5956Nf1f99835.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 名人瑞裳 2015夏季新款女装 修身中长款不对称宽摆印花雪纺连衣裙 印花色 M</div>                                 <div class="cost" id="sku_1610928267">                                     <span class="price">¥428.00</span>                                     <span class="price_old">¥1498.00</span>                                 </div>                             </div>                         </a>                     </div>                               </div>                    </div>              <div class="wei_item">             <div class="wei_item_sign">TOP 5</div>                  <a href="/mshop/gethomepage?venderid=36681&ptag=37773.8.5" class="wei_logo">                     <img src="./微店_files/5477e004N14409bc3.gif" width="90" height="30">                     <p>旅行之家箱包旗舰店</p>                 </a>                 <a href="/mshop/gethomepage?venderid=36681&ptag=37773.8.5" class="btn_enter">去逛逛</a>                  <div class="wei_cm_list">                                      <div class="item">                         <a class="url" href="/item/view?sku=1590587411&ptag=37773.8.10">                             <div class="img"><img src="./微店_files/5572899dNb2c0ffb6.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 旅行之家（Travelhouse）铝框万向轮拉杆箱子男/女托运行李箱登机箱 紫色 24寸推荐尺寸</div>                                 <div class="cost" id="sku_1590587411">                                     <span class="price">¥398.00</span>                                     <span class="price_old">¥2290.00</span>                                 </div>                             </div>                         </a>                     </div>                                      <div class="item">                         <a class="url" href="/item/view?sku=1588284180&ptag=37773.8.10">                             <div class="img"><img src="./微店_files/556ff136N43bff30a.jpg.webp" alt=""></div>                             <div class="info">                                 <div class="name"><span class="tag hide">满减</span> 旅行之家（Travelhouse）铝框20/24寸万向轮拉杆箱旅行箱T1182 金色拉丝 24寸</div>                                 <div class="cost" id="sku_1588284180">                                     <span class="price">¥588.00</span>                                     <span class="price_old">¥2015.00</span>                                 </div>                             </div>                         </a>                     </div>                               </div>                    </div>      </section>
<!-- E 热门微店 -->
<section id="sectionBottomActivity" class="wei_section" style="display: none;">
    <div class="wei_section_title">
        <h2>精选热门微店</h2>
        <span></span>
    </div>
    <div id="divBottomActivity"></div>
</section>
</div>
<!-- E tab容器 : 推荐微店  -->

<!-- S tab容器 : 关注微店  -->
<div id="divFollowShop" class="wei_tab_body" style="display:none;">
    <!-- S 关注微店 列表 -->
    <section class="wei_section">
        <div class="wei_row_msg" id="divEmptyFollow"><div id="divNoShopTip">您还没有关注的微店<br></div><div id="divSysRecommendTip">看看大家都在关注哪些微店吧<br></div></div>
        <div id="divMyShopList">          <div class="wei_item wei_item_foc">         <a href="/mshop/gethomepage?venderid=44754&ptag=37602.1.1" venderid="44754" shopid="42144" class="wei_logo" ptag="37602.1.1">             <img src="./微店_files/5566857dN56f670ea.jpg" width="90" height="30">             <p style="padding-left:95px;">名人瑞裳旗舰店</p>         </a>         <a href="/mshop/gethomepage?venderid=44754&ptag=37602.1.1" ptag="37602.1.1" class="btn_enter">去逛逛</a>         <ul class="wei_goods">                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img10.360buyimg.com/pop/s250x250_jfs/t1588/170/502629805/209247/ab7f5b5/558a5ff6N8b163ff3.jpg.webp"></div>                     <p class="cost" id="sku_1610982800">                         <span class="price">¥458.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img10.360buyimg.com/pop/s250x250_jfs/t1276/317/1188735811/195604/7983f359/558a5d6aN83a39de8.jpg.webp"></div>                     <p class="cost" id="sku_1610961240">                         <span class="price">¥428.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img10.360buyimg.com/pop/s250x250_jfs/t1000/87/1274043631/160678/f8511353/558a5956Nf1f99835.jpg.webp"></div>                     <p class="cost" id="sku_1610928267">                         <span class="price">¥428.00</span>                                              </p>                 </a>             </li>                      </ul>         <ul class="news">             <li class="jsmore" ptag="37602.1.3">                 <div class="date">6-24</div>                 <div class="info"><span class="new">上新</span>小店上新了10款商品，快来看看吧</div>             </li>                          <li class="jshome" ptag="37602.3.1">                 <div class="info"><span class="quan">领券</span>店铺可领最高20元优惠券</div>             </li>                      </ul>     </div>          <div class="wei_item wei_item_foc">         <a href="/mshop/gethomepage?venderid=40713&ptag=37602.1.1" venderid="40713" shopid="38306" class="wei_logo" ptag="37602.1.1">             <img src="./微店_files/549cf9a1Ne212a4de.jpg" width="90" height="30">             <p style="padding-left:95px;">北极绒品牌官方旗舰店</p>         </a>         <a href="/mshop/gethomepage?venderid=40713&ptag=37602.1.1" ptag="37602.1.1" class="btn_enter">去逛逛</a>         <ul class="wei_goods">                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t1075/271/379587861/60429/4e713643/552640f2Ndc9c55ea.jpg.webp"></div>                     <p class="cost" id="sku_1610478645">                         <span class="price">¥69.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t1033/65/1191197045/445321/df771019/5582673eN43515ae0.jpg.webp"></div>                     <p class="cost" id="sku_1604977775">                         <span class="price">¥39.90</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t1069/55/62664330/405934/4f540ff8/54f55034N07d09209.jpg.webp"></div>                     <p class="cost" id="sku_1603989652">                         <span class="price">¥9.90</span>                                              </p>                 </a>             </li>                      </ul>         <ul class="news">             <li class="jsmore" ptag="37602.1.3">                 <div class="date">6-24</div>                 <div class="info"><span class="new">上新</span>小店上新了10款商品，快来看看吧</div>             </li>                      </ul>     </div>          <div class="wei_item wei_item_foc">         <a href="/mshop/gethomepage?venderid=16874&ptag=37602.1.1" venderid="16874" shopid="15706" class="wei_logo" ptag="37602.1.1">             <img src="./微店_files/rBEDik_RkJcIAAAAAABADz89rXQAAAe_AHoXaIAAEAn906.jpg" width="90" height="30">             <p style="padding-left:95px;">韩都衣舍旗舰店</p>         </a>         <a href="/mshop/gethomepage?venderid=16874&ptag=37602.1.1" ptag="37602.1.1" class="btn_enter">去逛逛</a>         <ul class="wei_goods">                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t1393/338/486648136/270077/e1e9b81e/558a0b04Nd8fc1878.jpg.webp"></div>                     <p class="cost" id="sku_1610405055">                         <span class="price">¥318.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t868/207/1085280164/463320/2be64cc9/558a0957N41131a54.jpg.webp"></div>                     <p class="cost" id="sku_1610395611">                         <span class="price">¥248.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t1093/129/1227906030/137342/10328091/5583d4b2N5dad83c7.jpg.webp"></div>                     <p class="cost" id="sku_1606192742">                         <span class="price">¥103.00</span>                                              </p>                 </a>             </li>                      </ul>         <ul class="news">             <li class="jsmore" ptag="37602.1.3">                 <div class="date">6-24</div>                 <div class="info"><span class="new">上新</span>小店上新了10款商品，快来看看吧</div>             </li>                          <li class="jshome" ptag="37602.3.1">                 <div class="info"><span class="quan">领券</span>店铺可领最高10元优惠券</div>             </li>                      </ul>     </div>          <div class="wei_item wei_item_foc">         <a href="/mshop/gethomepage?venderid=48118&ptag=37602.1.1" venderid="48118" shopid="44995" class="wei_logo" ptag="37602.1.1">             <img src="./微店_files/54277e00Necda6bcd.jpg" width="90" height="30">             <p style="padding-left:95px;">朱尔官方旗舰店</p>         </a>         <a href="/mshop/gethomepage?venderid=48118&ptag=37602.1.1" ptag="37602.1.1" class="btn_enter">去逛逛</a>         <ul class="wei_goods">                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img13.360buyimg.com/pop/s250x250_jfs/t1675/203/248833079/208205/e6508914/558910d1N17d8c6c8.jpg.webp"></div>                     <p class="cost" id="sku_1609779637">                         <span class="price">¥379.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img13.360buyimg.com/pop/s250x250_jfs/t958/342/1203597689/224306/f97c75ba/55812342Nc887cbfc.jpg.webp"></div>                     <p class="cost" id="sku_1603837753">                         <span class="price">¥219.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img13.360buyimg.com/pop/s250x250_jfs/t1093/101/1099346084/270731/e5b32a3e/5572a8cbN6ef1f53e.jpg.webp"></div>                     <p class="cost" id="sku_1590844471">                         <span class="price">¥369.00</span>                                              </p>                 </a>             </li>                      </ul>         <ul class="news">             <li class="jsmore" ptag="37602.1.3">                 <div class="date">6-23</div>                 <div class="info"><span class="new">上新</span>小店上新了10款商品，快来看看吧</div>             </li>                      </ul>     </div>          <div class="wei_item wei_item_foc">         <a href="/mshop/gethomepage?venderid=39798&ptag=37602.1.1" venderid="39798" shopid="37571" class="wei_logo" ptag="37602.1.1">             <img src="./微店_files/rBEhWVG5Q5gIAAAAAAAQDuUoPvcAAAMHgP_5ZQAABAm961.gif" width="90" height="30">             <p style="padding-left:95px;">Dickies官方旗舰店</p>         </a>         <a href="/mshop/gethomepage?venderid=39798&ptag=37602.1.1" ptag="37602.1.1" class="btn_enter">去逛逛</a>         <ul class="wei_goods">                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img12.360buyimg.com/pop/s250x250_jfs/t1417/45/418732121/388533/59142de1/55827b95N5d45ff39.jpg.webp"></div>                     <p class="cost" id="sku_1605113872">                         <span class="price">¥259.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img12.360buyimg.com/pop/s250x250_jfs/t1603/348/421058486/377859/ab554224/55827896Ne69a235f.jpg.webp"></div>                     <p class="cost" id="sku_1605097983">                         <span class="price">¥259.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img12.360buyimg.com/pop/s250x250_jfs/t1453/292/404504136/409421/823705c5/557f847eN2c4bb78d.jpg.webp"></div>                     <p class="cost" id="sku_1601992348">                         <span class="price">¥179.00</span>                                              </p>                 </a>             </li>                      </ul>         <ul class="news">             <li class="jsmore" ptag="37602.1.3">                 <div class="date">6-18</div>                 <div class="info"><span class="new">上新</span>小店上新了10款商品，快来看看吧</div>             </li>                          <li class="jshome" ptag="37602.3.1">                 <div class="info"><span class="quan">领券</span>店铺可领最高100元优惠券</div>             </li>                      </ul>     </div>          <div class="wei_item wei_item_foc">         <a href="/mshop/gethomepage?venderid=17964&ptag=37602.1.1" venderid="17964" shopid="17203" class="wei_logo" ptag="37602.1.1">             <img src="./微店_files/549cfd0dNf2932cdd.jpg" width="90" height="30">             <p style="padding-left:95px;">Aisaly艾莎莉旗舰店</p>         </a>         <a href="/mshop/gethomepage?venderid=17964&ptag=37602.1.1" ptag="37602.1.1" class="btn_enter">去逛逛</a>         <ul class="wei_goods">                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t880/90/1114788727/249360/a3148889/5576870cN6d82e974.jpg.webp"></div>                     <p class="cost" id="sku_1594162464">                         <span class="price">¥49.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t1672/35/156236210/377525/8233187a/55795093Ne2bfea81.jpg.webp"></div>                     <p class="cost" id="sku_1594144690">                         <span class="price">¥49.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img30.360buyimg.com/pop/s250x250_jfs/t1156/147/1031361496/267740/c76c9da2/556911f8Na186c064.jpg.webp"></div>                     <p class="cost" id="sku_1579585288">                         <span class="price">¥59.00</span>                                              </p>                 </a>             </li>                      </ul>         <ul class="news">             <li class="jsmore" ptag="37602.1.3">                 <div class="date">6-9</div>                 <div class="info"><span class="new">上新</span>小店上新了3款商品，快来看看吧</div>             </li>                          <li class="jshome" ptag="37602.3.1">                 <div class="info"><span class="quan">领券</span>店铺可领最高50元优惠券</div>             </li>                      </ul>     </div>          <div class="wei_item wei_item_foc">         <a href="/mshop/gethomepage?venderid=36681&ptag=37602.1.1" venderid="36681" shopid="34821" class="wei_logo" ptag="37602.1.1">             <img src="./微店_files/5477e004N14409bc3.gif" width="90" height="30">             <p style="padding-left:95px;">旅行之家箱包旗舰店</p>         </a>         <a href="/mshop/gethomepage?venderid=36681&ptag=37602.1.1" ptag="37602.1.1" class="btn_enter">去逛逛</a>         <ul class="wei_goods">                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img11.360buyimg.com/pop/s250x250_jfs/t1063/361/1072447868/208425/a18f4266/5572899dNb2c0ffb6.jpg.webp"></div>                     <p class="cost" id="sku_1590587411">                         <span class="price">¥398.00</span>                                              </p>                 </a>             </li>                          <li ptag="37602.1.2">                 <a href="javascript:;">                     <div class="cover"><img dsrc="http://img11.360buyimg.com/pop/s250x250_jfs/t1690/199/83984903/63833/7c3f55f3/556ff136N43bff30a.jpg.webp"></div>                     <p class="cost" id="sku_1588284180">                         <span class="price">¥588.00</span>                                              </p>                 </a>             </li>                      </ul>         <ul class="news">             <li class="jsmore" ptag="37602.1.3">                 <div class="date">6-6</div>                 <div class="info"><span class="new">上新</span>小店上新了2款商品，快来看看吧</div>             </li>                          <li class="jshome" ptag="37602.3.1">                 <div class="info"><span class="quan">领券</span>店铺可领最高10元优惠券</div>             </li>                      </ul>     </div>      </div>
        <div class="wei_row_msg">
            <div class="btn_wrap" id="divRecommendShopBtn2">
                <a href="javascript:;" class="btn" style="width: 160px;" ptag="37529.3.1">没有了？去看看推荐的微店</a>
            </div>
        </div>
    </section>
    <!-- E 关注微店 列表 -->
</div>

<!-- E tab容器 : 关注微店  -->
</div>
<!-- END wrap -->

<!--模版区-->
<script type="text/template" id="tplThemeTab">
    <%#for(var i=0;i<model.length;i++){var item=model[i];
        if(item.visible!=1){continue}%>
            <a href="javascript:;" dindex="<%#=i%>" ptag="<%#=item.ptag%>"><span><%#=item.name%></span></a>
        <%#}%>
    </script>
    <script type="text/template" id="tplThemeGroup">
        <%#for(var i=0;i<model.length;i++){var item=model[i];
            if(item.visible!=1){continue}%>
                <div class="wei_shop_list jsfilter<%#=i%>" style="display:none;"></div>
            <%#}%>
        </script>
        <script type="text/template" id="tplThemeGroupShopItem">
            <%#for(var i=0;i<model.length;i++){var item=model[i],tiptxt;
                if(item.mixtiptext!==undefined){tiptxt=item.mixtiptext}
                    else{tiptxt=item.tiptext}
                        %>
                    <div class="item" dpos="<%#=item.gloabalidx.x%>|<%#=item.gloabalidx.y%>" ptag="<%#=item.ptag%>">
                        <a href="javascript:;" class="url">
                            <%#if(tiptxt!=''){%>
                                <div class="sign"><%#=tiptxt%></div>
                                <%#}%>
                                <div class="img">
                                    <img src="<%#=item.mainimg%>">
                                </div>
                                <div class="info">
                                    <div class="name"><%#=item.title%></div>
                                    <div class="gift"><%#=item.total%></div>
                                </div>
                            </a>
                        </div>
                        <%#}%>
                    </script>


                    <script type="text/template" id="tplSection3Div_m">
                        <%#
                        var ptagSeed=1;
                        for(var i=0;i<model.length;i++){
                            var item=model[i];
                            var linkPTAG=PTAGOFSECTION[2].seed+(ptagSeed++),btnPTAG=PTAGOFSECTION[2].seed+(ptagSeed++);
                            item.sUserData1=item.sUserData1.replace(/＆/g,'&');
                            var signCSS='hide',signText,spanTip,spanGift,imgSrc;
                            switch(item.sUserData2){
                                case '1':signCSS='';signText='领券';break;
                                case '2':signCSS='sign_2';signText='送礼';break;
                                case '3':signCSS='sign_3';signText='抽奖';break;
                            }
                            spanTip=item.sUserData3.split('|')[0];
                            spanGift=item.sUserData3.split('|')[1]||'';
                            imgSrc=JD.performance.getScaleImg(item.sMaterialUrl);
                            %>
                            <div class="item">
                                <a href="<%#=item.sUrl%>" class="url" ptag="<%#=linkPTAG%>">
                                    <div class="sign <%#=signCSS%>"><%#=signText%></div>
                                    <div class="img">
                                        <img src="<%#=imgSrc%>" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="name"><%#=item.sMaterialName%></div>
                                        <div class="desc"><%#=item.sMaterialDesc%></div>
                                        <div class="fav">
                                            <span class="btn" durl="<%#=item.sUserData1%>" dvender="<%#=getVendIdByUrl(item.sUrl)%>" class="btn_fav" ptag="<%#=btnPTAG%>">去逛逛</span>
                                            <span class="tip"><%#=spanTip%></span>
                                            <span class="gift"><%#=spanGift%></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <%#}%>
                        </script>

                        <script type="text/template" id="tplMyShopItem">
                            <%#
                            for(var i=0;i<model.length;i++){
                                var item=model[i];
                                %>
                                <div class="wei_item wei_item_foc">
                                    <a href="/mshop/gethomepage?venderid=<%#=item.vender_id%>&ptag=37602.1.1" venderid="<%#=item.vender_id%>" shopid="<%#=item.shop_id%>" class="wei_logo" ptag="37602.1.1">
                                        <img src="<%#=item.logo_url%>" width="90" height="30">
                                        <p style="padding-left:95px;"><%#=item.shop_name%></p>
                                    </a>
                                    <a href="/mshop/gethomepage?venderid=<%#=item.vender_id%>&ptag=37602.1.1" ptag="37602.1.1" class="btn_enter">去逛逛</a>
                                    <ul class="wei_goods">
                                        <%#
                                        for(var j=0;j<item.new_sku_list.length;j++){
                                            var skuitem=item.new_sku_list[j];
                                            %>
                                            <li ptag="37602.1.2">
                                                <a href="javascript:;">
                                                    <div class="cover"><img dsrc="<%#=JD.performance.getScaleImg(skuitem.pic_url)%>"></div>
                                                    <p class="cost" id="sku_<%#=skuitem.sku_id%>">
                                                        <span class="price">¥0</span>
                                                        <span class="price_old">¥0</span>
                                                    </p>
                                                </a>
                                            </li>
                                            <%#}%>
                                        </ul>
                                        <ul class="news">
                                            <li class="jsmore" ptag="37602.1.3">
                                                <div class="date"><%#=item.disTime%></div>
                                                <div class="info"><span class="new">上新</span>小店上新了<%#=item.new_sku_num%>款商品，快来看看吧</div>
                                            </li>
                                            <%#
                                            if(item.disCoupon){
                                                %>
                                                <li class="jshome" ptag="37602.3.1">
                                                    <div class="info"><span class="quan">领券</span><%#=item.disCoupon%></div>
                                                </li>
                                                <%#}%>
                                            </ul>
                                        </div>
                                        <%#}%>
                                    </script>
                                    <script type="text/template" id="tplBottomActivity">
                                        <%#for(var i=0;i<model.length;i++){var item=model[i];%>
                                            <div class="image" link="<%#=item.sUrl%>"><img adsrc="<%#=item.material%>"></div>
                                            <%#}%>
                                        </script>
                                        <!--热门微店-->
                                        <script type="text/template" id="tplMicstoreHot">
                                           <%#for(var i=0;i<model.length;i++){var item=model[i];%>
                                            <div class="wei_item">
                                                <div class="wei_item_sign">TOP <%#=i+1%></div>
                                                <a href="<%#=item.shop_url%>&ptag=37773.8.<%#=i+1%>" class="wei_logo">
                                                    <img src="<%#=item.logo_url%>" width="90" height="30">
                                                    <p><%#=item.shop_name%></p>
                                                </a>
                                                <a href="<%#=item.shop_url%>&ptag=37773.8.<%#=i+1%>" class="btn_enter">去逛逛</a>

                                                <div class="wei_cm_list">
                                                    <%#for(var j=0;j<item.sku_list.length;j++){ var itemSku=item.sku_list[j]; imgurl=JD.performance.getScaleImg(itemSku.pic_url);%>
                                                        <div class="item">
                                                            <a class="url" href="/item/view?sku=<%#=itemSku.sku_id%>&ptag=37773.8.<%#=6+i%>">
                                                                <div class="img"><img src="<%#=imgurl%>" alt=""></div>
                                                                <div class="info">
                                                                    <div class="name"><span class="tag hide">满减</span> <%#=itemSku.title%></div>
                                                                    <div class="cost" id="sku_<%#=itemSku.sku_id%>">
                                                                        <span class="price"  >&yen;0.0</span>
                                                                        <span class="price_old" >&yen;0.0</span>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <%#}%>
                                                    </div>

                                                </div>
                                                <%#}%>
                                            </script>
                                            <!--模版区-->
                                            <script type="text/javascript">
                                                window._navfoot={};
                                                function getVendIdByUrl(url){
                                                    var vid;
                                                    url.replace(/venderId=\d+/i,function(a){vid=a.split('=')[1]||null;return a});
                                                    return vid;
                                                }
                                                function getAreaIdByUrl(url){
                                                    var aid;
                                                    url.replace(/areaId=\d+/i,function(a){aid=a.split('=')[1]||null;return a});
                                                    return aid;
                                                }
                                                var PTAGOFSECTION=[
                                                {title:'37422.1.1',desc:'37422.2.1',bigimg:'37422.3.1',btn:'37422.4.1',logoimg:'37422.5.1',sku:'37422.6.1'},
                                                [],
                                                {seed:'37773.7.'},
                                                []
                                                ];

                                                window._navfoot={manual:true}
                                            </script>
                                            <script type="text/javascript">
//entra665-34



(function(global){
    var g=[[]],d='http://wq.360buyimg.com',m={},blankjs="",grays={},mdebug = location.href.indexOf("mdebug=1")!=-1;
    m.alias = {};
    var a={},p={},c=[];
    g["1"]=["\/js\/version\/201505\/cookie.201505071822.js","\/js\/version\/201505\/formatJson.201505071823.js","\/js\/version\/201505\/lazyLoad.201505071825.js","\/js\/version\/201505\/loadJs.201505111110.js","\/js\/version\/201505\/login.201505071826.js","\/js\/version\/201506\/speedtime.201506031811.js","\/js\/version\/201505\/ui.201505071824.js","\/js\/version\/201501\/wg.speedtime.201501081553.js","\/js\/version\/201506\/wq.microstore.201506021109.js"];
    g["2"]=["\/js\/version\/201505\/iscroll.201505131224.js","\/js\/version\/201505\/wq.wx.menu.201505290925.js"];
    g["0"]=["\/js\/version\/201505\/zepto.201505191506.js"];
    c = [['cookie',1,0],['formatJson',1,1],['iscroll',2,0],['lazyLoad',1,2],['loadJs',1,3],['login',1,4],['speedtime',1,5],['ui',1,6],['wg.speedtime',1,7],['wq.microstore',1,8],['wq.wx.menu',2,1],['zepto',0,0]];
    if(typeof(JSON)!="undefined" && window.localStorage){
       for(var key in localStorage){
          if(/^_m_/.test(key)){
             var store = JSON.parse(localStorage.getItem(key));
             var i = key.substr(3);
             if((new Date()).getTime()>store.cacheTime){
                 continue;
             }
             var _m=getModuleMap(i);
             if(!_m || _m.group==0){continue;}
             var curPath=g[_m.group][_m.groupid];
             if((d+curPath)==store.path){
                g[0].push(curPath);
                g[_m.group][_m.groupid]=blankjs;
                c[_m.index]=[_m.id,0,g[0].length-1];
            }
        }
    }
}
function getModuleMap(id){
  for(var i=0;i<c.length;i++){
    if(c[i][0]==id){
      return {"id":id,"index":i,"group":c[i][1],"groupid":c[i][2]};
  }
}
return "";
}
function getCombUrl(list){
  var a=[];
  for(var i=0;i<list.length;i++){
    if(list[i]){
      a.push(list[i]);
  }
}
return a.length>1?(d+"/c/="+a.join(",")):(d+a[0]);
}

for(var i=0;i<c.length;i++){
  var surl=d+g[c[i][1]][c[i][2]];
  var furl=getCombUrl(g[c[i][1]]);//合并包地址
  a[c[i][0]]=surl;
  p[c[i][0]]=(c[i][1]==0)?surl:furl;
}

m.alias=mdebug?a:p;
m.moduleURI=a;


global._moduleConfig = m;

function gray(m){
}

})(this);

</script>
<script type="text/javascript">var modulejs,require,define;(function(global){var mod,cfg,_modulejs,_define,_require;var version="1.0.2";var isCache=true;var cacheTime=60*60*24*30*1000;cfg={debug:location.href.indexOf("mdebug=1")!=-1?true:false,alias:{},cssAlias:{},moduleURI:{},vars:{},uris:{},modules:{},callback:[],actModules:{},cacheLoad:{},cacheDel:{},deps:{},events:{},timing:{}};_modulejs.config=config;config(global["_moduleConfig"]?global._moduleConfig:cfg);global["_moduleConfig"]=cfg;require=_require;define=_define;modulejs=_modulejs;on("module_ready",function(id,fromeCache){cfg.callback=cleanArray(cfg.callback);var init=cfg.callback,l=init.length;for(var i=0;i<l;i++){if(init[i]&&checkDeps(init[i].dependencies)){var cb=init[i].factory;var deps=init[i].dependencies;var mods=[];var allDeps=[];var m;for(var j=0;j<deps.length;j++){var m=_require(deps[j]);allDeps.push(m.dependencies);mods.push(m);}
    debug("callback_is_run=start",cb.toString(),cfg.callback);init[i]=null;cb.apply(null,mods);cfg.debug&&emit("callback_is_run",cb.toString().replace(/[\r\n]/g,""));}}});on("module_require",function(id){cfg.actModules[id]=cfg.actModules[id]?(cfg.actModules[id]+1):1;});on("module_cacheDel",function(id){cfg.cacheDel[id]=1;});on("cache_load",function(m){});on("module_loss_alias",function(id){console.error("module_loss_alias:"+id);});var cacheNow=new Date();_loadCache();cfg.timing['loadcache']=new Date()-cacheNow;function _loadCache(){if(!_useCache()){return false;}
localStorage.removeItem("_modules");for(var key in localStorage){if(/^_m_/.test(key)){var store=JSON.parse(localStorage.getItem(key));var i=key.substr(3);var now=(new Date()).getTime();var oneDay=24*3600*1000;if(cfg.alias[i]){if(_getModuleURI(i)!=store.path||store.deps.join(",").indexOf("{")>-1){emit("module_cacheDel",i);localStorage.removeItem(key);continue;}}else{if(now>store.cacheTime){emit("module_cacheDel",i);localStorage.removeItem(key);continue;}}
if(store.cacheTime-now<oneDay){store.cacheTime=(new Date()).getTime()+cacheTime;try{localStorage.removeItem(key);localStorage.setItem(key,JSON.stringify(store));}catch(e){}}
cfg.cacheLoad[store.id]=store;emit("cache_load",store);}}}
function _getModuleURI(id){return cfg.moduleURI[id]?cfg.moduleURI[id]:cfg.alias[id];}
function _useCache(id,deps,factory){if(typeof(JSON)=="undefined"){return false;}
if(!isCache){return false;}
if(!(JSON&&window.localStorage)){return false;}
if(cfg.debug){return false;}
var agent=navigator.userAgent.toLowerCase();if(agent.indexOf("msie")>0){var m=agent.match(/msie\s([\d\.]+);/i);if(m&&m.length>=2&&parseInt(m[1])<=6){return false;}}
if(id&&id.indexOf("_")==0){return false;}
if(factory&&factory.toString().indexOf("_cacheThisModule_")<0){return false;}
return true;}
function _cacheModule(id,deps,factory){var key="_m_"+id;var _t=localStorage.getItem(key);var ms=_t?JSON.parse(_t):{};ms={"id":id,"deps":deps,"factory":factory.toString(),"path":_getModuleURI(id),"cacheTime":(new Date()).getTime()+cacheTime};try{localStorage.removeItem(key);localStorage.setItem(key,JSON.stringify(ms));emit("module_cached",id);}catch(e){}}
function _define(id,deps,factory){if(!id||(typeof(id)!="string"))
return;if(id!="_init"&&typeof(cfg.modules[id])!="undefined"){emit("module_ready",id);return true;}
if(arguments.length===2){factory=deps;deps=null;}
deps=isType("Array",deps)?deps:(deps?[deps]:[]);if(isType("Function",factory)){var _deps=parseDependencies(factory.toString());}
_useCache(id,deps,factory)&&_cacheModule(id,deps,factory);deps=mergeArray(deps,_deps);var mod=new Module(id);mod.dependencies=deps||[];for(var i=mod.dependencies.length-1;i>=0;i--){mod.dependencies[i]=parseVars(mod.dependencies[i]);}
mod.factory=factory;if(id=="_init"){cfg.callback.push(mod);}else{cfg.modules[id]=mod;}
emit("module_ready",id);}
function _require(id){id=parseVars(id);var module=cfg.modules[id];emit("module_require",id);if(!module){emit("module_error",id);return null}
if(module.exports){return module.exports;}
var now=new Date();var factory=module.factory;var exports=isType("Function",factory)?factory(require,module.exports={},module):factory;module.exports=exports===undefined?module.exports:exports;cfg.timing[id]=new Date()-now;return module.exports;}
_require.async=_modulejs;_require.css=function(path){path=cfg.cssAlias&&cfg.cssAlias[path]?cfg.cssAlias[path]:path;if(!path){return;}
var l;if(!window["_loadCss"]||window["_loadCss"].indexOf(path)<0){l=document.createElement('link');l.setAttribute('type','text/css');l.setAttribute('rel','stylesheet');l.setAttribute('href',path);l.setAttribute("id","loadCss"+Math.random());document.getElementsByTagName("head")[0].appendChild(l);window["_loadCss"]?(window["_loadCss"]+="|"+path):(window["_loadCss"]="|"+path);}
l&&(typeof callback=="function")&&(l.onload=callback);return true;}
function _modulejs(deps,factory){_define("_init",deps,factory);}
function checkDeps(deps){var list={},flag=true;for(var i=0;i<deps.length;i++)list[deps[i]]=1;getDesps(deps,list);for(var i in list){if(!cfg.modules[i]){loadModule(i);flag=false;}}
return flag;function getDesps(deps,list){for(var i=0;i<deps.length;i++){if(!list[deps[i]]){list[deps[i]]=1;}
if(cfg.modules[deps[i]]&&list[deps[i]]!=2){list[deps[i]]=2;getDesps(cfg.modules[deps[i]].dependencies,list);}}}}
function parseVars(id){var VARS_RE=/{([^{]+)}/g
var vars=cfg.vars
if(vars&&id.indexOf("{")>-1){id=id.replace(VARS_RE,function(m,key){return isType("String",vars[key])?vars[key]:key})}
    return id}
function mergeObject(a,b){for(var i in b){if(!b.hasOwnProperty(i)){continue;}
if(!a[i]){a[i]=b[i];}else if(Object.prototype.toString.call(b[i])=="[object Object]"){mergeObject(a[i],b[i]);}else{a[i]=b[i];}}
return a;}
function config(obj){return cfg=mergeObject(cfg,obj);}
function Module(id){this.id=id;this.dependencies=[];this.exports=null;this.uri="";}
function loadModule(id){var m;if(m=cfg.cacheLoad[id]){return _define(m.id,m.deps,eval("a = "+m.factory));}
if(cfg.modules[id]){emit("module_ready",id);return;}
var url=cfg.alias[id]?cfg.alias[id]:"";if(!url){emit("module_loss_alias",id);return;}
if(cfg.uris[url]){return;}
cfg.uris[url]=1;var head=document.getElementsByTagName("head")[0]||document.documentElement;var baseElement=head.getElementsByTagName("base")[0];var node=document.createElement("script");node.charset="utf-8";node.async=true;node.src=url;var handler=function(){var callee=arguments.callee
    cfg.timing[callee.uri]=new Date()-callee.time;};handler.time=new Date();handler.uri=url;node.onload=handler;baseElement?head.insertBefore(node,baseElement):head.appendChild(node);cfg.debug&&emit("file_loading",url);}
    function on(name,cb){var cbs=cfg.events[name];if(!cbs){cbs=cfg.events[name]=[];}
    cbs.push(cb);}
    function emit(name,evt){debug(name,evt);if(!cfg.events[name]||cfg.events[name].length==0){return;}
    for(var i=0,l=cfg.events[name].length;i<l;i++){cfg.events[name][i](evt);}
        if(name==='error'){delete cfg.events[name];}}
    function cleanArray(a){var n=[];for(var i=0;i<a.length;i++){a[i]&&n.push(a[i]);}
    return n;}
    function mergeArray(a,b){for(var i=0;i<b.length;i++){((","+a+",").indexOf(","+b[i]+",")<0)&&a.push(b[i]);}
    return a;}
    function isType(type,obj){return Object.prototype.toString.call(obj)==="[object "+type+"]"}
    function parseDependencies(code){var commentRegExp=/(\/\*([\s\S]*?)\*\/|([^:]|^)\/\/(.*)$)/mg;var cjsRequireRegExp=/[^.]\s*require\s*\(\s*["']([^'"\s]+)["']\s*\)/g;var ret=[];code.replace(commentRegExp,"").replace(cjsRequireRegExp,function(match,dep){dep&&ret.push(parseVars(dep));})
    return ret;}
    function debug(){if(!cfg.debug){return true;}
    var a=[],l=arguments.length;for(var i=0;i<l;i++){a.push(arguments[i]);}
    try{console.log.apply(console,a);}catch(e){}}}(this));</script>
<script type="text/javascript">
    var _speedMarkModule = new Date();
    modulejs("wq.microstore",function(m){
        recordTimeData[2]=recordTimeDataHT[2]=Date.now();
    m.main();   //
}
);</script>

    <script type="text/javascript">
        function allBrands(){
            $('#all-brands').toggle();
            $('.brand-goods').toggle();
        }
    </script>
