    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

	<title>139活动专区</title>

	<link rel="stylesheet" href="http://wq.360buyimg.com/fd/sq/css/mall/foot_search.s.min.css">		
	<link rel="stylesheet" href="http://wq.360buyimg.com/fd/sq/css/mall/foot_search.s.css">		

	<link combofile="appliancetimepub.shtml" rel="stylesheet" href="/new_mobile/css/index.min.css?t=1435751740">			
	<style type="text/css"></style>
	<script charset="utf-8" async="" src="/new_mobile/js/wq.sq.qingliangjie.index.201507011934.js"></script>
	<script charset="utf-8" async="" src="/new_mobile/js/wfdata.201505071824.js"></script>
	<script charset="utf-8" async="" src="/new_mobile/js/qqRemind.201504231738.js"></script>
	<link type="text/css" rel="stylesheet" href="/new_mobile/css/mod_alert_standalone.s.min.css">	
</head>
<body style="zoom: 5;">
	<link combofile="appliancetimepub.shtml" rel="stylesheet" href="/new_mobile/css/index.min.css?t=1435751740"">


<div class="qq_menu_layer_v2" style="display:none" id="__mqqmenu">
    <div class="qq_menu_v2" id="_divqqmenu">
        <ul id="__ulqqmenu">
             <li>
                <a href="javascript:;" ptag="37128.1.2" id="__homepage">
                    <i class="icon_home"></i>
                    <span>购物</span>
                </a>
            </li>
            <li>
                <a href="/portal/sq/category_q.shtml?_wv=1&ptag=37128.1.3">
                <i class="icon_search"></i>
                <span>商品搜索</span></a>
            </li>
            <li><a data-href="/my/index.shtml?_wv=1&amp;ptag=37128.1.4" needlogin="1">
                <i class="icon_profile"></i>
             
                <span>个人中心</span></a>
            </li>
            <li><a data-href="/my/cart/jdshopcart.shtml?_wv=1&amp;37128.1.11" needlogin="1">
                <i class="icon_cart"></i>
                <span>购物车</span></a>
            </li>
            <li><a data-href="/my/fav/goods_fav.shtml?_wv=1&amp;ptag=37128.1.5" needlogin="1">
                <i class="icon_star"></i>
                <span>我的收藏</span></a>
            </li>
            <li><a href="/my/recently.shtml?_wv=1&ptag=37128.1.6">
                <i class="icon_history"></i>
                <span>最近浏览</span></a>
            </li>
            <li><a href="javascript:;" ptag="37128.1.7" id="__shareqq">
                <i class="icon_qq"></i>
                <span>QQ分享</span></a>
            </li>
            <li><a href="javascript:;" ptag="37128.1.8" id="__shareqzone">
                <i class="icon_qzone"></i>
                <span>空间分享</span></a>
            </li>
            <li><a ptag="7020.1.3" data-href="/my/membership/membership_edu.html?PTAG=7020.1.3">
                <i class="icon_vip"></i>
                <span>会员</span></a>
            </li>
            <li><a href="javascript:;" ptag="37128.1.10" id="__returnToQQ">
                <i class="icon_close"></i>
                <span>关闭页面</span></a>
            </li>
        </ul>
        <ul id="__ulqqmenu2">
            <li>
                <a href="javascript:;" ptag="37128.1.2" id="__homepage2">
                    <i class="icon_home"></i>
                    <span>购物</span>
                </a>
            </li>
            <li>
                <a href="/portal/sq/category_q.shtml?_wv=1&ptag=37128.1.3">
                    <i class="icon_search"></i>
                    <span>商品搜索</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-href="/my/cart/jdshopcart.shtml?_wv=1&amp;37128.1.11" needlogin="1">
                    <i class="icon_cart"></i>
                    <span>购物车</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-href="/my/index.shtml?_wv=1&amp;ptag=37128.1.4" needlogin="1">
                    <i class="icon_profile"></i>
                    <span>个人中心</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" data-href="/my/fav/goods_fav.shtml?_wv=1&amp;ptag=37128.1.5" needlogin="1">
                    <i class="icon_star"></i>
                    <span>我的收藏</span>
                </a>
            </li>
            <li>
                <a href="/my/recently.shtml?_wv=1&ptag=37128.1.6">
                    <i class="icon_history"></i>
                    <span>最近浏览</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" ptag="37128.1.7" id="__sharemsg">
                    <i class="icon_share"></i>
                    <span>分享</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- PPMS 滚动title -->
<script type="text/javascript">
var moveTitle= [{
		titleone:"美的遥控落地扇仅159",
		titletwo:"1P智能冷暖空调仅售1399",
		titlethree:"32英寸高清电视1449抢"
		
	}
	,
	{
		titleone:"三门冰箱999抢",
		titletwo:"名牌1P冷暖空调1399抢",
		titlethree:"8公斤滚筒洗衣机1999抢"
		
	}
	,
	{
		titleone:"美的遥控落地扇仅159",
		titletwo:"1P智能冷暖空调仅售1399",
		titlethree:"32英寸高清电视1449抢"
		
	}
	
	
];
</script>
<!-- PPMS 主title -->
<script type="text/javascript">
var mainTitle= [{
		mainone:"专题区",
ptagone:"38088.1.1",
		maintwo:"最爆款",
ptagtwo:"38088.1.2",
		mainthree:"品牌区",
ptagthere:"38088.1.3"
		
	}
	
	
];
</script>
<!-- 超爆款区楼层 -->
<script type="text/javascript">
var moreBaokuan= [{
		tabName:"全网超爆款",
jiaobiao:"16",
		goodID:"60446",
		areaID:"64618",
ptag:"38088.3"
		
	}
	,
	{
		tabName:"冰箱超爆款",
jiaobiao:"5",
		goodID:"60446",
		areaID:"64621",
ptag:"38088.4"
		
	}
	,
	{
		tabName:"空调超爆款",
jiaobiao:"5",
		goodID:"60446",
		areaID:"64622",
ptag:"38088.5"
		
	}
	,
	{
		tabName:"风扇超爆款",
jiaobiao:"5",
		goodID:"60446",
		areaID:"64623",
ptag:"38088.6"
		
	}
	,
	{
		tabName:"小家电超爆款",
jiaobiao:"8",
		goodID:"60446",
		areaID:"64620",
ptag:"38088.7"
		
	}
	,
	{
		tabName:"大家电超爆款",
jiaobiao:"6",
		goodID:"60446",
		areaID:"64619",
ptag:"38088.8"
		
	}
	,
	{
		tabName:"全网超爆款",
jiaobiao:"18",
		goodID:"60446",
		areaID:"64624",
ptag:"38088.3"
		
	}
	,
	{
		tabName:"空调超爆款",
jiaobiao:"6",
		goodID:"60446",
		areaID:"64628",
ptag:"38088.5"
		
	}
	,
	{
		tabName:"冰箱超爆款",
jiaobiao:"5",
		goodID:"60446",
		areaID:"64627",
ptag:"38088.4"
		
	}
	,
	{
		tabName:"风扇超爆款",
jiaobiao:"10",
		goodID:"60446",
		areaID:"64629",
ptag:"38088.6"
		
	}
	,
	{
		tabName:"小家电超爆款",
jiaobiao:"10",
		goodID:"60446",
		areaID:"64626",
ptag:"38088.7"
		
	}
	,
	{
		tabName:"大家电超爆款",
jiaobiao:"6",
		goodID:"60446",
		areaID:"64625",
ptag:"38088.8"
		
	}
	,
	{
		tabName:"全网超爆款",
jiaobiao:"18",
		goodID:"60446",
		areaID:"64630",
ptag:"38088.3"
		
	}
	,
	{
		tabName:"冰箱超爆款",
jiaobiao:"5",
		goodID:"60446",
		areaID:"64633",
ptag:"38088.4"
		
	}
	,
	{
		tabName:"空调超爆款",
jiaobiao:"6",
		goodID:"60446",
		areaID:"64634",
ptag:"38088.5"
		
	}
	,
	{
		tabName:"风扇超爆款",
jiaobiao:"8",
		goodID:"60446",
		areaID:"64635",
ptag:"38088.5"
		
	}
	,
	{
		tabName:"小家电超爆款",
jiaobiao:"9",
		goodID:"60446",
		areaID:"64632",
ptag:"38088.7"
		
	}
	,
	{
		tabName:"大家电超爆款",
jiaobiao:"7",
		goodID:"60446",
		areaID:"64631",
ptag:"38088.8"
		
	}
	
	
];
</script>

<!-- 大牌折扣楼层 -->
<script type="text/javascript">
var bigBrands= [{
		areaID:"2789",
		locationID:"7525",
		showNumber:"18"
		
	}
	,
	{
		areaID:"2789",
		locationID:"7525",
		showNumber:"18"
		
	}
	,
	{
		areaID:"2789",
		locationID:"7525",
		showNumber:"18"
		
	}
	
	
];
</script>

<!-- 楼层主题 -->
<script type="text/javascript">
var louCengTitle= [{
index:"1",
		mainTitle:"全网最爆款",
		engTitle:"",
		desTitle:"限量爆款疯抢"
		
	}
	,
	{
index:"2",
		mainTitle:"冰箱最爆款",
		engTitle:"",
		desTitle:"两门冰箱999元抢"
		
	}
	,
	{
index:"3",
		mainTitle:"空调超爆款",
		engTitle:"",
		desTitle:"大牌空调抢购"
		
	}
	,
	{
index:"4",
		mainTitle:"风扇超爆款",
		engTitle:"",
		desTitle:"风扇59元起"
		
	}
	,
	{
index:"5",
		mainTitle:"小家电超爆款",
		engTitle:"",
		desTitle:"应季小电器75元起"
		
	}
	,
	{
index:"6",
		mainTitle:"大家电超爆款",
		engTitle:"",
		desTitle:"55英寸电视低至2999元"
		
	}
	,
	{
index:"1",
		mainTitle:"全网最爆款",
		engTitle:"",
		desTitle:"限量爆款疯抢"
		
	}
	,
	{
index:"2",
		mainTitle:"空调最爆款",
		engTitle:"",
		desTitle:"爆款空调疯抢"
		
	}
	,
	{
index:"3",
		mainTitle:"冰箱最爆款",
		engTitle:"",
		desTitle:"双门冰箱1199元"
		
	}
	,
	{
index:"4",
		mainTitle:"风扇最爆款",
		engTitle:"",
		desTitle:"应季落地扇疯抢"
		
	}
	,
	{
index:"5",
		mainTitle:"小家电最爆款",
		engTitle:"",
		desTitle:"小家电49元起"
		
	}
	,
	{
index:"6",
		mainTitle:"大家电最爆款",
		engTitle:"",
		desTitle:"大家电聚惠抢购"
		
	}
	,
	{
index:"1",
		mainTitle:"全网最爆款",
		engTitle:"",
		desTitle:"爆款疯狂购"
		
	}
	,
	{
index:"2",
		mainTitle:"冰箱最爆款",
		engTitle:"",
		desTitle:"大牌冰箱降价"
		
	}
	,
	{
index:"3",
		mainTitle:"",
		engTitle:"",
		desTitle:""
		
	}
	,
	{
index:"4",
		mainTitle:"风扇最爆款",
		engTitle:"",
		desTitle:"风扇大降价"
		
	}
	,
	{
index:"5",
		mainTitle:"小家电最爆款",
		engTitle:"",
		desTitle:"小家电爆品抢购"
		
	}
	,
	{
index:"6",
		mainTitle:"大家电最爆款",
		engTitle:"",
		desTitle:"大家电爆品抢购"
		
	}
	
	
];
</script>

<!-- 六宫格 -->
<script type="text/javascript">
var sixGonggeNew= [{
		mainHead:"冰洗厨卫专场",
		vicHead:"双门冰箱低至618元",
		imgSrc:"http://img11.360buyimg.com/jdphoto/s186x200_jfs/t1264/128/1272517723/12983/4219c8d8/558a6e11Nc8ddeb76.jpg",
aHref:"/event/brand/jiadain_qlj623_bx/index.shtml?PTAG=38088.2.1",
		ptag:"38088.2.1"

		
	}
	,
	{
		mainHead:"空调清凉专场",
		vicHead:"空调低至1399元",
		imgSrc:"http://img11.360buyimg.com/jdphoto/s186x200_jfs/t1552/43/501712893/7613/619d9a16/558a6e19Nf3ae1b7d.jpg",
aHref:"/event/brand/jiadian_qlj623_kt/index.shtml?PTAG=38088.2.2",
		ptag:"38088.2.2"

		
	}
	,
	{
		mainHead:"厨房电器专场",
		vicHead:"全场低至45元",
		imgSrc:"http://img11.360buyimg.com/jdphoto/s186x200_jfs/t997/100/1266756861/25377/80e84c67/558a6e13Nb3d2dd5c.jpg",
aHref:"/event/brand/jiadian_qlj623_cf/index.shtml?PTAG=38088.2.4",
		ptag:"38088.2.4"

		
	}
	,
	{
		mainHead:"生活健康电器",
		vicHead:"全场低至19.9元",
		imgSrc:"http://img11.360buyimg.com/jdphoto/s186x200_jfs/t1342/363/580757656/9030/1ba4c20f/558bc086Nc42fd10c.jpg",
aHref:"/event/brand/jiadian_qlj623_shjk/index.shtml?PTAG=38088.2.5",
		ptag:"38088.2.5"

		
	}
	,
	{
		mainHead:"电视影音专场",
		vicHead:"55英寸智能电视2999",
		imgSrc:"http://img11.360buyimg.com/jdphoto/s186x200_jfs/t1411/318/482850978/20363/8650c0cd/558a6e15Nc8a85cb2.jpg",
aHref:"/event/brand/jiadian_qlj623_ds/index.shtml?PTAG=38088.2.3",
		ptag:"38088.2.3"

		
	}
	,
	{
		mainHead:"家电馆",
		vicHead:"爆品限时秒杀",
		imgSrc:"http://img11.360buyimg.com/jdphoto/s186x200_jfs/t1507/209/560937381/12755/dbf21967/55966f57N72736339.png",
aHref:"/portal/wx/jiadianguan.shtml?PTAG=38088.2.6",
		ptag:"38088.2.6"

		
	}
	
	
];
</script>



<div class="home">
		<div class="header">
			<div class="bg"></div>
			<div class="time"><span>仅限8月6日-8月31日</span>	</div>
			<div class="marquee">
				<div class="inner"><span>德国正宗香肠免费试吃</span><span>新西兰金果特价</span><span>嘉定水蜜桃预售</span></div>
			</div>
			<a href="/mobile" class="clickme" style="display:none"> <!--  原来是clickme-->
			  <img src="/new_mobile/img/clickme.png">
			</a>
		</div>
		<div class="content">
		
		<div class="coupon">
				<div class="coupon1">
					100<small>满1000减100</small>
				</div>
				<div class="coupon2">
					20<small>满200减20</small>
				</div>
				<span class="btn"> 立即领取</span>

			</div>
			<div id="toolbarHead" class="menubox" style="display:none">
			  <div class="menu" id="mtab"><a class="option" href="javascript:$('#divSubjectRegion')[0].scrollIntoView();" ptag="38088.1.1">专题区</a><a class="option" href="javascript:$('#divBaoKuan')[0].scrollIntoView();" ptag="38088.1.2">最爆款</a><a class="option active" href="javascript:$('#brandDiscountRegin')[0].scrollIntoView();" ptag="undefined">品牌区</a></div>
			</div>
            <div class="classify" id="divSubjectRegion" style="display:none">
				<div class="line">专题区</div>
				
				<div class="sale"><span>限量疯抢专区</span></div>
				<i class="lineleft"></i>
				<i class="lineright"></i>
			</div>

			<div class="brands"  style="display:none">
			<%@galleries.each do |gallery|%>
                <a href="/mobile">
                       <span class="title"><%=gallery.tag_name%></span>      
                       <span class="detail"> </span>      
                       <img src="<%=gallery.cover_url%>" loaded="6">      
                </a> 
            <%end%>    
            </div>
             
             <div id="morebaokuan">                           
             	<div class="classify" id="divBaoKuan">          
             	<div class="line">全网最爆款</div>     
             	<div class="en"></div>       
             	<div class="sale">
             		<span>爆款疯狂购</span>
             	</div>     <i class="lineleft"></i>     <i class="lineright"></i>        
             	</div> 
             	 <%@shop_goods.each do |shopgoods|%>                  
             	<a href="/mobile/<%=shopgoods.good.goods_id%>">                     </a>
             	<div class="goodlist">
             		<a href="/mobile/<%=shopgoods.good.goods_id%>">          </a>
             		<div class="good">
             			<a href="/mobile/<%=shopgoods.good.goods_id%>">      
             			<span class="goodprev"><img src="<%=shopgoods.good.medium_pic%>" loaded="69"></span>      
             			<span class="gooddetail">       
             			<span class="title"><%=shopgoods.good.name%></span>                                   
             			<span class="desc" style="display:none">                           
             				<span style="color:red;" style="display:none">【139】</span>                           
             				<%=raw shopgoods.good.desc%>                            
             			</span>                    
             			<span class="sale"><span class="price">￥<%=shopgoods.good.price%>      </span>                    
             			<span class="salemore" style="display:none">
             				<span class="">1138</span>人已评价
             			</span>                                          
             			</span>      </span>      </a>
             			<a href="/mobile/<%=shopgoods.good.goods_id%>" class="buybtn">立即购买</a>                                   
             			<div class="floatitem">直降<%=shopgoods.good.mktprice-shopgoods.good.price%>元</div>           
             			</div>    </div>
             		<%end%>                                                                                                                      
             		</div>
			<!-- end -->


<!--

			<div class="classify_brand" id="brandDiscountRegin">
				<div class="line">大牌折扣区</div>
				<div class="en">Big discount area</div>
				<i class="lineleft"></i>
				<i class="lineright"></i>
			</div>

			<div class="goodlist_brand">                         
				<a href="/event/juhui/HaierBXDistrict/index.shtml?PTAG=38088.9.5" class="good_conf">      
					<span class="content">       
						<img src="./家电清凉节_files/558a5bc0N9b964142.jpg" loaded="16">       
						<span class="title">海尔冰箱洗衣机专场</span>       
						<span class="sale">海尔冰洗送清凉</span>            
					</span>     
				</a> 

			</div>
		//-->

		</div>

		<a href="/mobile" class="float">
			<img src="/new_mobile/img/floating_m.png">
		</a>

	</div>

	 <!--<a href="javascript:;" id="J_goTop" class="btn_backtop on">返回顶部</a>-->
	 <!--
    <script type="text/html" id="brandDiscountTpl">
          
            for(var i = 0; i < data.list[0].locations[1].plans.length; i++){
                var _item =data.list[0].locations[1].plans[i],


                   _small = JD.performance.useScaleImg(),
                   _sImg = ((_small && (((_item.dwProperty * 1) & 512) !== 0)) ? JD.performance.getScaleImg(_item.material) : _item.material),
                   _materiallink = _item.materiallink;
                   
      
               <a href="= _materiallink" class="good_conf">
					<span class="content">
						<img init_src="= _item.material">
						<span class="title">#= _item.materialname</span>
						<span class="sale">#= _item.materialdesc</span>
						
					</span>
				</a>
         } 
    </script>

   	<script type="text/html" id="sixGoogGeTpl">
        
            for(var i = 0; i < data.length; i++){
                var _item = data[i],

                   _small = JD.performance.useScaleImg(),
                   _sImg = ((_small && (((_item.dwProperty * 1) & 512) !== 0)) ? JD.performance.getScaleImg(_item.imgSrc) : _item.imgSrc),
                  
                   _ptag = _item.ptag;
                  
                   
        
               <a href="= _item.aHref">
					<span class="title">#= _item.mainHead</span>
					<span class="detail">#= _item.vicHead</span>
					<img init_src="= _sImg">

				</a>
        } 
    </script>

     
<script type="text/html" id="morebaokuanTpl">
            for(var i = 0; i < data.data.length; i++){
                var _item = data.data[i].list,
                    _length = _item.length,
                    _ppmsInfo = ppmsinfo[i+indexOfTitle],
                    _moreBaokuan = moreBaokuan[i],
                    _ptag = _moreBaokuan.ptag;
                 <div class="classify" id="divBaoKuan">
				
				<div class="line">#= _ppmsInfo.mainTitle</div>
				<div class="en">#= _ppmsInfo.engTitle</div>  
				<div class="sale"><span>#= _ppmsInfo.desTitle</span></div>
				<i class="lineleft"></i>
				<i class="lineright"></i>
			    </div>
                for(var j=0 ; j<_length ; j++){
                	_info = _item[j],
                    _small = JD.performance.useScaleImg(),
                    _sImg = ((_small && (((_item.dwProperty * 1) & 512) !== 0)) ? JD.performance.getScaleImg(_info.sImg200x200) : _info.sImg200x200),
                    _weChatPrice = _info.dwWeChatPrice != '' ? _info.dwWeChatPrice : _info.dwActMinPrice,
                    _chajia = (_info.dwNewPrice - _info.dwWeChatPrice).toFixed(0),
                     _chajia2 = (_info.dwNewPrice - _info.dwWeChatPrice).toFixed(0),
                    _detailedGoods = _info.sUrl+"&ptag="+_ptag+"."+(j +1),
                    _sItemName = _info.sItemName,
                    _strItem = ""
                  
                   ;


                   
                        var len = 0;
                       for (var k=0; k<_sItemName.length; k++) { 
                           var c = _sItemName.charCodeAt(k); 
                   
                          if ((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)) { 
                               len++; 
                         } 
                            else { 
                           len+=2; 
                        } 
                       
                        if(len >= 22){
                          _strItem = _strItem + "..." ;
                          break; 
                        }
                        _strItem = _strItem + _sItemName.charAt(k);

                     } 

                      var _des2 = _info.ext1,
                  
                  str1 = _des2.substr(0,6),
                  str2 = _des2.substr(6,_des2.length) 
                  ;

            <a href="= _detailedGoods">
                    <div class="goodlist">
				
				<div  class="good">
					<span class="goodprev"><img init_src="= _sImg"></span>
					<span class="gooddetail">
						<span class="title">#= _strItem</span>

							if(str1 == "【自营】"){ 
                          <span class="desc">
                          <span  style="color:red;">= str1</span>
                          = str2 
                          </span>
						}else {
						
						<span class="desc">= _info.ext1 </span>

					} 
						
						<span class="sale"><span class="price">￥= _info.dwWeChatPrice
						</span>
						if(_chajia > 5){ 
                           <span class="salemore iconphone">已省= _chajia2元</span>
						}else {
						
						<span class="salemore"><span class="">= _info.dwEvalCnt</span>人已评价</span>

					} 
						
						

                   </span>
					</span>
					<a href="= _detailedGoods" class="buybtn">立即购买</a>
					  	if(_info.ext2){ 
                          <div class="floatitem">= _info.ext2</div>
						}else {
						
						

					} 
				</div>
			</div>

				</a>

           </a>

                 }    

                 
                   
        
              
         }
        

//-->
			

    </script>

  <link rel="stylesheet" href="/new_mobile/css/mod_foot.s.min.css">
     
      <!-- 底部热门栏目列表。样式请引用 -->
    <!-- #include virtual="/sinclude/cssi/qq/mall/mod_hot_search.shtml" -->
    <!--热门栏目+搜索 S-->
    <div class="mod_hot_foot" style="background:#fff; display:none">
        <!-- <div class="all_product_title">热门栏目</div> -->
        
       
          <div id="searchfoot">

          <div class="mod_foot_search wx_foot_search"><div class="search_row"><form id="btmSearchForm" action="/mobile/search"><input class="input_keywords" id="search_foot_keyword" type="search" autocomplete="off" placeholder="搜索您还想找的商品" ptag="38088.11.1"><input class="input_btn" type="button" id="search_foot_btn" ptag="38088.11.1" value="搜索" style="display:block"></form></div><div class="search_suggest" id="search_foot_suggest" style="display:none;"></div></div></div>
       
        
         
        </div> 
      
    
   

    <script>
    
     window.shareConfig = {
        img_url: "http://img11.360buyimg.com/jdphoto/s200x200_jfs/t1693/97/280387061/10571/2ab28392/558d2b09Na0c602d8.jpg",
        img_width: "80",
        img_height: "80",
        link: location.href,
        title: "【家电清凉节】爆品家电火热疯抢",
        desc: "1匹冷暖空调仅售1399元！仅限6月26日-7月7日！"
    };

      window._searchfoot = {
            index: 2, // 搜索框样式(1:手Q,2:微信)
            con: 'searchfoot', // 指定容器id（可选）
            placeholder: '搜索您还想找的商品', // 搜索框默认暗文（可选）
            searchrd: '38088.11.1', // 搜索框rd
           
            btnPtag: '38088.11.1', // 搜索按钮点击rd(仅手Q样式可用)
            inpPtag: '38088.11.1', // 搜索框点击rd

            manual: false
        }; 
   </script>

 
    	   <div class="mod_foot_follow">
        <a href="http://mp.weixin.qq.com/s?__biz=MzA5OTM5ODIzMQ==&mid=210856899&idx=1&sn=cc512525ce0a5bc8ba5b70e297f50428#rd" ptag="38088.12.1">关注贸威服务号 获取优惠资讯</a>
    </div>


	
	<script type="text/javascript">
//entra1059-34



(function(global){
var g=[[]],d='http://wq.360buyimg.com',m={},blankjs="",grays={},mdebug = location.href.indexOf("mdebug=1")!=-1;
m.alias = {};
var a={},p={},c=[];
g["0"]=["\/js\/version\/201505\/cookie.201505071822.js","\/js\/version\/201505\/formatJson.201505071823.js","\/js\/version\/201505\/lazyLoad.201505071825.js","\/js\/version\/201505\/loadJs.201505111110.js","\/js\/version\/201505\/login.201505071826.js","\/js\/version\/201505\/mqqStorage.201505071823.js","\/js\/version\/201504\/qqRemind.201504231738.js","\/js\/version\/201505\/sticky.201505151518.js","\/js\/version\/201505\/ui.201505071824.js","\/js\/version\/201505\/url.201505111643.js","\/js\/version\/201505\/wfdata.201505071824.js","\/js\/version\/201507\/wq.sq.qingliangjie.index.201507011934.js","\/js\/version\/201505\/zepto.201505191506.js"];
c = [['cookie',0,0],['formatJson',0,1],['lazyLoad',0,2],['loadJs',0,3],['login',0,4],['mqqStorage',0,5],['qqRemind',0,6],['sticky',0,7],['ui',0,8],['url',0,9],['wfdata',0,10],['wq.sq.qingliangjie.index',0,11],['zepto',0,12]];
if(typeof(JSON)!="undefined" && window.localStorage){
	for(var key in localStorage){
		if(/^_m_/.test(key)){
			var store = JSON.parse(localStorage.getItem(key));
        	var i = key.substr(3);
        	if((new Date()).getTime()>store.cacheTime){
	    		continue;
	    	}
	    	var _m=getModuleMap(i);
	    	if(!_m || _m.group==0){continue;}
	    	var curPath=g[_m.group][_m.groupid];
	    	if((d+curPath)==store.path){
				g[0].push(curPath);
				g[_m.group][_m.groupid]=blankjs;
				c[_m.index]=[_m.id,0,g[0].length-1];
			}
		}
	}
	}
function getModuleMap(id){
	for(var i=0;i<c.length;i++){
		if(c[i][0]==id){
			return {"id":id,"index":i,"group":c[i][1],"groupid":c[i][2]};
		}
	}
	return "";
}
function getCombUrl(list){
	var a=[];
	for(var i=0;i<list.length;i++){
		if(list[i]){
			a.push(list[i]);
		}
	}
	return a.length>1?(d+"/c/="+a.join(",")):(d+a[0]);
}

for(var i=0;i<c.length;i++){
	var surl=d+g[c[i][1]][c[i][2]];
	var furl=getCombUrl(g[c[i][1]]);//合并包地址
		a[c[i][0]]=surl;
		p[c[i][0]]=(c[i][1]==0)?surl:furl;
}

m.alias=mdebug?a:p;
m.moduleURI=a;


global._moduleConfig = m;

function gray(m){
	}

})(this);

</script>
<script type="text/javascript">var modulejs,require,define;(function(global){var mod,cfg,_modulejs,_define,_require;var version="1.0.2";var isCache=true;var cacheTime=60*60*24*30*1000;cfg={debug:location.href.indexOf("mdebug=1")!=-1?true:false,alias:{},cssAlias:{},moduleURI:{},vars:{},uris:{},modules:{},callback:[],actModules:{},cacheLoad:{},cacheDel:{},deps:{},events:{},timing:{}};_modulejs.config=config;config(global["_moduleConfig"]?global._moduleConfig:cfg);global["_moduleConfig"]=cfg;require=_require;define=_define;modulejs=_modulejs;on("module_ready",function(id,fromeCache){cfg.callback=cleanArray(cfg.callback);var init=cfg.callback,l=init.length;for(var i=0;i<l;i++){if(init[i]&&checkDeps(init[i].dependencies)){var cb=init[i].factory;var deps=init[i].dependencies;var mods=[];var allDeps=[];var m;for(var j=0;j<deps.length;j++){var m=_require(deps[j]);allDeps.push(m.dependencies);mods.push(m);}
debug("callback_is_run=start",cb.toString(),cfg.callback);init[i]=null;cb.apply(null,mods);cfg.debug&&emit("callback_is_run",cb.toString().replace(/[\r\n]/g,""));}}});on("module_require",function(id){cfg.actModules[id]=cfg.actModules[id]?(cfg.actModules[id]+1):1;});on("module_cacheDel",function(id){cfg.cacheDel[id]=1;});on("cache_load",function(m){});on("module_loss_alias",function(id){console.error("module_loss_alias:"+id);});var cacheNow=new Date();_loadCache();cfg.timing['loadcache']=new Date()-cacheNow;function _loadCache(){if(!_useCache()){return false;}
localStorage.removeItem("_modules");for(var key in localStorage){if(/^_m_/.test(key)){var store=JSON.parse(localStorage.getItem(key));var i=key.substr(3);var now=(new Date()).getTime();var oneDay=24*3600*1000;if(cfg.alias[i]){if(_getModuleURI(i)!=store.path||store.deps.join(",").indexOf("{")>-1){emit("module_cacheDel",i);localStorage.removeItem(key);continue;}}else{if(now>store.cacheTime){emit("module_cacheDel",i);localStorage.removeItem(key);continue;}}
if(store.cacheTime-now<oneDay){store.cacheTime=(new Date()).getTime()+cacheTime;try{localStorage.removeItem(key);localStorage.setItem(key,JSON.stringify(store));}catch(e){}}
cfg.cacheLoad[store.id]=store;emit("cache_load",store);}}}
function _getModuleURI(id){return cfg.moduleURI[id]?cfg.moduleURI[id]:cfg.alias[id];}
function _useCache(id,deps,factory){if(typeof(JSON)=="undefined"){return false;}
if(!isCache){return false;}
if(!(JSON&&window.localStorage)){return false;}
if(cfg.debug){return false;}
var agent=navigator.userAgent.toLowerCase();if(agent.indexOf("msie")>0){var m=agent.match(/msie\s([\d\.]+);/i);if(m&&m.length>=2&&parseInt(m[1])<=6){return false;}}
if(id&&id.indexOf("_")==0){return false;}
if(factory&&factory.toString().indexOf("_cacheThisModule_")<0){return false;}
return true;}
function _cacheModule(id,deps,factory){var key="_m_"+id;var _t=localStorage.getItem(key);var ms=_t?JSON.parse(_t):{};ms={"id":id,"deps":deps,"factory":factory.toString(),"path":_getModuleURI(id),"cacheTime":(new Date()).getTime()+cacheTime};try{localStorage.removeItem(key);localStorage.setItem(key,JSON.stringify(ms));emit("module_cached",id);}catch(e){}}
function _define(id,deps,factory){if(!id||(typeof(id)!="string"))
return;if(id!="_init"&&typeof(cfg.modules[id])!="undefined"){emit("module_ready",id);return true;}
if(arguments.length===2){factory=deps;deps=null;}
deps=isType("Array",deps)?deps:(deps?[deps]:[]);if(isType("Function",factory)){var _deps=parseDependencies(factory.toString());}
_useCache(id,deps,factory)&&_cacheModule(id,deps,factory);deps=mergeArray(deps,_deps);var mod=new Module(id);mod.dependencies=deps||[];for(var i=mod.dependencies.length-1;i>=0;i--){mod.dependencies[i]=parseVars(mod.dependencies[i]);}
mod.factory=factory;if(id=="_init"){cfg.callback.push(mod);}else{cfg.modules[id]=mod;}
emit("module_ready",id);}
function _require(id){id=parseVars(id);var module=cfg.modules[id];emit("module_require",id);if(!module){emit("module_error",id);return null}
if(module.exports){return module.exports;}
var now=new Date();var factory=module.factory;var exports=isType("Function",factory)?factory(require,module.exports={},module):factory;module.exports=exports===undefined?module.exports:exports;cfg.timing[id]=new Date()-now;return module.exports;}
_require.async=_modulejs;_require.css=function(path){path=cfg.cssAlias&&cfg.cssAlias[path]?cfg.cssAlias[path]:path;if(!path){return;}
var l;if(!window["_loadCss"]||window["_loadCss"].indexOf(path)<0){l=document.createElement('link');l.setAttribute('type','text/css');l.setAttribute('rel','stylesheet');l.setAttribute('href',path);l.setAttribute("id","loadCss"+Math.random());document.getElementsByTagName("head")[0].appendChild(l);window["_loadCss"]?(window["_loadCss"]+="|"+path):(window["_loadCss"]="|"+path);}
l&&(typeof callback=="function")&&(l.onload=callback);return true;}
function _modulejs(deps,factory){_define("_init",deps,factory);}
function checkDeps(deps){var list={},flag=true;for(var i=0;i<deps.length;i++)list[deps[i]]=1;getDesps(deps,list);for(var i in list){if(!cfg.modules[i]){loadModule(i);flag=false;}}
return flag;function getDesps(deps,list){for(var i=0;i<deps.length;i++){if(!list[deps[i]]){list[deps[i]]=1;}
if(cfg.modules[deps[i]]&&list[deps[i]]!=2){list[deps[i]]=2;getDesps(cfg.modules[deps[i]].dependencies,list);}}}}
function parseVars(id){var VARS_RE=/{([^{]+)}/g
var vars=cfg.vars
if(vars&&id.indexOf("{")>-1){id=id.replace(VARS_RE,function(m,key){return isType("String",vars[key])?vars[key]:key})}
return id}
function mergeObject(a,b){for(var i in b){if(!b.hasOwnProperty(i)){continue;}
if(!a[i]){a[i]=b[i];}else if(Object.prototype.toString.call(b[i])=="[object Object]"){mergeObject(a[i],b[i]);}else{a[i]=b[i];}}
return a;}
function config(obj){return cfg=mergeObject(cfg,obj);}
function Module(id){this.id=id;this.dependencies=[];this.exports=null;this.uri="";}
function loadModule(id){var m;if(m=cfg.cacheLoad[id]){return _define(m.id,m.deps,eval("a = "+m.factory));}
if(cfg.modules[id]){emit("module_ready",id);return;}
var url=cfg.alias[id]?cfg.alias[id]:"";if(!url){emit("module_loss_alias",id);return;}
if(cfg.uris[url]){return;}
cfg.uris[url]=1;var head=document.getElementsByTagName("head")[0]||document.documentElement;var baseElement=head.getElementsByTagName("base")[0];var node=document.createElement("script");node.charset="utf-8";node.async=true;node.src=url;var handler=function(){var callee=arguments.callee
cfg.timing[callee.uri]=new Date()-callee.time;};handler.time=new Date();handler.uri=url;node.onload=handler;baseElement?head.insertBefore(node,baseElement):head.appendChild(node);cfg.debug&&emit("file_loading",url);}
function on(name,cb){var cbs=cfg.events[name];if(!cbs){cbs=cfg.events[name]=[];}
cbs.push(cb);}
function emit(name,evt){debug(name,evt);if(!cfg.events[name]||cfg.events[name].length==0){return;}
for(var i=0,l=cfg.events[name].length;i<l;i++){cfg.events[name][i](evt);}
if(name==='error'){delete cfg.events[name];}}
function cleanArray(a){var n=[];for(var i=0;i<a.length;i++){a[i]&&n.push(a[i]);}
return n;}
function mergeArray(a,b){for(var i=0;i<b.length;i++){((","+a+",").indexOf(","+b[i]+",")<0)&&a.push(b[i]);}
return a;}
function isType(type,obj){return Object.prototype.toString.call(obj)==="[object "+type+"]"}
function parseDependencies(code){var commentRegExp=/(\/\*([\s\S]*?)\*\/|([^:]|^)\/\/(.*)$)/mg;var cjsRequireRegExp=/[^.]\s*require\s*\(\s*["']([^'"\s]+)["']\s*\)/g;var ret=[];code.replace(commentRegExp,"").replace(cjsRequireRegExp,function(match,dep){dep&&ret.push(parseVars(dep));})
return ret;}
function debug(){if(!cfg.debug){return true;}
var a=[],l=arguments.length;for(var i=0;i<l;i++){a.push(arguments[i]);}
try{console.log.apply(console,a);}catch(e){}}}(this));</script>
<script type="text/javascript">
var _speedMarkModule = new Date();

modulejs(["wq.sq.qingliangjie.index"],function(m){
      m.doSomething();
    });</script>

 
 

<script type="text/javascript">
	function zoom(){

		var cwidth = document.documentElement.getBoundingClientRect().width,
			cheight = window.innerHeight;
		document.body.style.zoom = Math.floor(Math.min(cwidth/320,99999) * 100)/100;
	}
	zoom();
	window.addEventListener('resize',zoom);

	
	
</script>
