 <style>
    .bottomdivsclearfix{
        display: none;
    }
</style>
<div class="am-panel am-panel-warning "style="margin: 0px;padding: 0px">
  <div class="am-panel-hd" style="text-align: center">上传照片
    <a href="/mobile" style="float: right"> <%= I18n.t "continue_shopping"%></a>
  </div>
</div>

<%= form_for @attachment,:url=>order_attachments_path,:html => {:multipart => true, :class => 'form-horizontal' } do |f| %>
  <%=hidden_field_tag "cart_obj_ident",params[:obj_ident]%>
  <div class="am-list-news-bd">


  <ul>
        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
          <div class="am-col col-sm-4 am-list-thumb">
            <a href="#" class="cart_orderlist_i"><img src="" style="display: inline;"></a>
          </div>
          <div class="am-col col-sm-8 am-list-main">
            <h3 class="am-list-item-hd"><%= file_field_tag :file,:class => 'file_field' %></h3>

            <h4  style="color: #ff0000;text-align: center;padding: 0px;display:none"></h4>

            <div class="am-list-item-text">
              <div class="good_data_num J_pro_num_btn_cart" data-product="68671252" style="border:none;height:33px;">
                <span class="good_data_num_l J_num_cart_reduce" >  </span>
                <span class="good_data_num_l J_num_cart_reduce" > </span>
              </div>
            </div>
          </div>
         <div>
        <span class="delete" style="float: right">
         
       </span> </div> </li>
    </ul>
    </div>


  
    <!-- <form class="form-inline" action="/member/photo_upload" method="post" enctype="multipart/form-data"> -->
      <!-- <input name="cart_obj_ident" value="<%=params[:obj_ident]%>"> -->
    <div class="control-group">
             
        <%= f.submit '确定', :class => "fr btn_sure" %>
        <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    order_attachments_path, :class => 'btn' %>
      </div>
      <!-- </form> -->
</div>

    <% end %>
