<div>
  <h4>所有供应商</h4>
</div>
<%= flash[:notice] %>
<%= link_to '新建供应商', new_admin_supplier_path, :class => "pull-right btn btn-primary" %>

<table class="table table-bordered table-striped table-hover">
  <tr>
    <!--<th>修改权限(shopadmin->member)</th>-->
    <th>ID</th>
    <th>名字</th>
    <th>logo</th>
    <th>物流规则</th>
    <th>商品数量</th>
    <th>UserID</th>
    <th>电话</th>
    <th>推荐</th>
    <th>url</th>


    <th>操作</th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr class="<%= "success" if supplier.recommend == 1 %>" >
    <!--<td > <%#= link_to '修改', "/admin/suppliers/update_state?supplier_id=#{supplier.id}&user_id=#{supplier.member_id}"%></td>-->
    <td><%=supplier.id%></td>
    <td><%=supplier.name%></td>
    <td><img src="<%=supplier.logo%>" style="width:50px"></td>
    <td><%=supplier.express_rule.title if supplier.express_rule_id%></td>
    <td><%=Ecstore::Good.count(:conditions=>{:supplier_id=>"#{supplier.id}"})%></td>
    <td><%=supplier.member_id%></td>
    <td><%=supplier.tel%></td>
    <td><%= supplier.recommend == 0 ? "否" : "是" %></td>
    <td><%=supplier.url%></td>


    <td>
        <%= link_to '编辑', edit_admin_supplier_path(supplier) %>
          |
      <%= link_to '更新菜单', "/admin/wechat/menu_edit?id=#{supplier.id} "%>
      |
      <%= link_to '推荐', reco_admin_supplier_path(supplier) %>
      |
        <%= link_to '删除', admin_supplier_path(supplier), method: :delete, data: { confirm: '确定删除?' } %>
    </td>
  </tr>
<% end %>
</table>

<div class="pagination">
  <%= will_paginate @suppliers, :container => false %>
</div>
