<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="x5-page-mode" content="default"/>
<link rel="stylesheet" href="/new_mobile/css/sq_fixed_foot.s.min.css?t=1428914745">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/sweetalert.css">
<link href="http://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/qr-img/excanvas.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>

  <script>
   <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
   function isWeixinBrowser(){
    var ua = navigator.userAgent.toLowerCase();
      //  alert(ua);
      return (/micromessenger/.test(ua)) ? true : false ;
    }

    var is_weixin_browser = true; isWeixinBrowser();

    var auto_login_url= '/mlogin';
    var supplier_id='78';
    <%if @supplier%>
    supplier_id='<%=@supplier.id%>';
    <%end%>
    if(is_weixin_browser){

      ck_login_url= '/ck_login?id='+ <%= params[:id] %>+ '&<%=return_url%>&platform=mobile';
    }

    <%if @user && @user.account.supplier_id%>
   //   if ('<%=@user.account.supplier_id %>'!=supplier_id){
     if ('78'!=supplier_id){
      location.href = ck_login_url;
    }
    <%elsif @no_need_login.nil?%>
    location.href = ck_login_url;
    <%end%>


  </script>

  <%= yield %>
  <% name = current_account.try(:login_name).try(:split, '_').try(:first) == Ecstore::WeihuoShop.where(:shop_id => (params[:id] || params[:shop_id])).first.try(:openid) ? "fix-bottom-4" : "fix-bottom-3" %>
  
  <div class="<%= name %> navbar navbar-default navbar-fixed-bottom">


    <% if params[:id].present? || params[:shop_id].present? %>
    <div class="mall block">
      <div class="center">
        <a href="/weihuo/shops/<%= params[:id] || params[:shop_id] %>" class="" data-link="/mobile" ptag="">
          <div class="line">
            <i class="glyphicon glyphicon-home"></i>
          </div> <div class="text">商城首页</div>
        </a>
      </div>
    </div>
    <% if current_account.try(:login_name).try(:split, '_').try(:first) == Ecstore::WeihuoShop.where(:shop_id => (params[:id] || params[:shop_id])).first.openid %>
    <div class="manage block">
      <div class="center">
        <a href="/weihuo/shops/manage?shop_id=<%= params[:id] || params[:shop_id] %>" data-link="/weihuo/shops/manage" ptag="37128.9.2" style="display:" class="">
          <div class="line">
            <i class="glyphicon glyphicon-wrench"></i>
          </div>
          <div class="text">代理管理</div>
        </a>
      </div>
    </div>
    <% end %>

    <div class="user block">
      <div class="center">
        <a href="/weihuo/shops/user_center?shop_id=<%= params[:id] || params[:shop_id] %>" data-link="" ptag="37128.9.2" style="display:" class="">
          <div class="line">
            <i class="glyphicon glyphicon-user"></i>
          </div>
          <div class="text">个人中心</div>
        </a>
      </div>
    </div>


    <%if @user%>
    <% if params[:id].present? || params[:shop_id].present? %>
    <div class="share block">
      <div class="center">
        <a href="/weihuo/shops/share?shop_id=<%= params[:id] || params[:shop_id] %>" data-link="/cart/mobile?supplier_id=" ptag="37128.9.3" class="" needlogin="1">
          <div class="line">
            <i class="glyphicon glyphicon-share-alt"></i>
          </div>
          <div class="text">分享商城</div>
        </a>
      </div>
    </div>

    <% end %>
    <%end%>
    <div class="clear"></div>
    <% end %>
  </div>
</div>


</body>
</html>
<style type='text/css'>

  span .text {
    font-size: 12px;

  }
  body {
    font-size: 14px;
    margin-bottom: 50px;
  }
  
  .fix-bottom-4 .block {
    padding: 0;
    margin: 0;
    float: left;
    position: absolute;
    width: 25%;
  }
  .fix-bottom-4 .mall {
    left: 0;
  }
  .fix-bottom-4 .manage {
    left: 25%;
  }
  .fix-bottom-4 .user {
    left: 50%;
  }
  .fix-bottom-4 .share {
    left: 75%;
  }
  .fix-bottom-3 .block {
    padding: 0;
    margin: 0;
    float: left;
    position: absolute;
    width: 33%
  }
  .fix-bottom-3 .mall {
    left: 0;
  }
  
  .fix-bottom-3 .user {
    left: 33%;
  }
  .fix-bottom-3 .share {
    left: 66%;
  }
  .center {
    margin: 0, auto;
    padding-top: 2px;
  }
  .clear {
    clear: both;
  }
  .line, .text {
    text-align: center;
  }
</style>