
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title><%=page_title%></title>
  <meta name="keywords" content="<%=meta_keywords%>" />
  <meta name="description" content="<%=meta_description%>" />

  <%=javascript_include_tag "standard"%>
  <%=stylesheet_link_tag "standard"%>

  <%= yield :head%>

  <%=render "shared/baidu" if Rails.env == "production"%>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/new/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/new/css/option4.css" />
	<title>贸威优品商城</title>
</head>

<body class="option4">
    <!-- header -->
    <header id="header">
        <div class="container">
            <!-- main header -->
            <div class="row">
                <div class="main-header">
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="logo">
                                <a href="/"><img src="/assets/store/logo_big.png" style="height:50px" alt="Logo"></a>
                            </div>
                            <div class="shop-menu">
                                <div class="icon">
                                    <span><img src="/assets/store/slogan.png"></span>
                                </div>
                                <!-- Block vertical-menu -->
                                <div class="block block-vertical-menu">
                                    <div class="vertical-head">
                                        <h5 class="vertical-title">Categories</h5>
                                    </div>
                                    <div class="vertical-menu-content">
                                        <ul class="vertical-menu-list">
                                            <li class="vertical-menu1"><a class="parent" href="#">Fashion</a>
                                                <div class="vertical-dropdown-menu">
                                                    <div class="vertical-groups col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu">
                                                                    <h3 class="head">PRODUCTS SPECIAL</h3>
                                                                    <div class="inner">
                                                                        <p>Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <div class="row mega-products">
                                                                    <div class="col-sm-4 mega-product">
                                                                        <div class="product-avatar">
                                                                            <a href="#"><img src="/new/p10.jpg" alt="product1"></a>
                                                                        </div>
                                                                        <div class="product-name">
                                                                            <a href="#">Cotton Lycra Leggings</a>
                                                                        </div>
                                                                        <div class="price-box">
                                                                            <span class="product-price">$139.98</span>
                                                                            <span class="product-price-old">$169.00</span>
                                                                        </div>
                                                                        <div class="product-star">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star-half-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 mega-product">
                                                                        <div class="product-avatar">
                                                                            <a href="#"><img src="/new/p11.jpg" alt="product1"></a>
                                                                        </div>
                                                                        <div class="product-name">
                                                                            <a href="#">Cotton Lycra Leggings</a>
                                                                        </div>
                                                                        <div class="price-box">
                                                                            <span class="product-price">$139.98</span>
                                                                            <span class="product-price-old">$169.00</span>
                                                                        </div>
                                                                        <div class="product-star">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star-half-o"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 mega-product">
                                                                        <div class="product-avatar">
                                                                            <a href="#"><img src="/new/p12.jpg" alt="product1"></a>
                                                                        </div>
                                                                        <div class="product-name">
                                                                            <a href="#">Cotton Lycra Leggings</a>
                                                                        </div>
                                                                        <div class="price-box">
                                                                            <span class="product-price">$139.98</span>
                                                                            <span class="product-price-old">$169.00</span>
                                                                        </div>
                                                                        <div class="product-star">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star-half-o"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="vertical-menu2">
                                                <a class="parent" href="#">Mother & Baby</a>
                                                <div class="vertical-dropdown-menu">
                                                    <div class="vertical-groups">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border banner-hover">
                                                                    <a href="#"><img src="/new/b42.png" alt="Banner"></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="block-content-vertical-menu banner-hover">
                                                                    <a href="#"><img src="/new/b43.png" alt="Banner"></a>
                                                                </div>
                                                                <div class="block-content-vertical-menu">
                                                                    <div class="inner">
                                                                        <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. </p>
                                                                        <a href="#" class="button-radius">Shop now<span class="icon"></span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="block-content-vertical-menu border-left">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Men's Apparel</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Women's Apparel</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Watch sport</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="vertical-menu3">
                                                <a class="parent" href="#">Cosmetics</a>
                                                <div class="vertical-dropdown-menu">
                                                    <div class="vertical-groups">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <div class="inner-img">
                                                                        <a href="#"><img src="/new/4.jpg" alt="Banner"></a>
                                                                    </div>
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <div class="inner-img">
                                                                        <a href="#"><img src="/new/5.jpg" alt="Banner"></a>
                                                                    </div>
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <div class="inner-img">
                                                                        <a href="#"><img src="/new/6.jpg" alt="Banner"></a>
                                                                    </div>
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div class="block-content-vertical-menu border">
                                                                    <h3 class="head">CATEGORIES</h3>
                                                                    <div class="inner">
                                                                    <div class="inner-img">
                                                                        <a href="#"><img src="/new/7.jpg" alt="Banner"></a>
                                                                    </div>
                                                                    <ul class="vertical-menu-link">
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Skincare</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Metkup</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Mobile phone</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">
                                                                                <span class="text">Tablet</span>
                                                                                <span class="count">(9)</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="vertical-menu4"><a href="#">Electronics</a></li>
                                            <li class="vertical-menu5"><a href="#">Interior</a></li>
                                            <li class="vertical-menu6">
                                                <a href="#">Sport</a>
                                            </li>
                                            <li class="vertical-menu7"><a href="#">Mobile & Tablet</a></li>
                                            <li class="vertical-menu8"><a href="#">Other</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- ./Block vertical-menu -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-5">
                            <div class="form-inline advanced-search box-radius">
                                <form accept-charset="UTF-8" action="/search" method="get">
                                    <div class="form-group search-category">
                                        <select id="category-select" class="search-category-select">
                                            <option value="1">所有分类</option>
                                        </select>
                                    </div>
                                    <div class="form-group search-input">
                                        <input id="search_input" name="q" placeholder="请输入搜索关键字" value="<%= controller_name=="search" ? params[:q] : Ecstore::Config.get(:search_key)%>">
                                    </div>
                                    <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="wrap-block-cl">
                                <div class="inner-cl box-radius">
                                    <%if @user%>
                                    <div class="dropdown user-info">
                                      <a data-toggle="dropdown" role="button"><i class="fa fa-user"></i></a>
                                      <ul class="dropdown-menu">

                                            <li><a href="/member"><i class="fa fa-user"></i> 我的贸威</a></li>
                                            <li><a href="/member/favorites"><i class="fa fa-heart-o"></i> 我的收藏</a></li>
                                            <li><a href="/member/orders"><i class="fa fa-arrow-circle-right"></i> 我的订单</a></li>
                                            <li><a href="/logout"><i class="fa fa-sign-in"></i> 退出</a></li>
                                      </ul>
                                    </div>
                                    <div class="language">
                                      <%=truncate2(@user.account.login_name,:length=>5)%>
                                  </div>
                                   <div class="currency">
                                        <a class="loggedin" href="/logout">退出</a>
                                    </div>
                                     <div class="block-wrap-cart">
                                        <div class="iner-block-cart">
                                            <a id="cart_link" href="#" class="cart-link <%='login' unless signed_in?%>">
                                              购物车
                                              <span class="cart-number" id='cart_number_111'><%=@cart_total_quantity%></span>
                                              </a>
                                        </div>
                                        <div class="block-mini-cart">
                                        </div>
                                        <div class="block-mini-cart">
                                            <div class="mini-cart-content">
                                            <h5 class="mini-cart-head"><span class="cart-number"><%=@cart_total_quantity%></span>件商品</h5>
                                            <div class="mini-cart-list">
                                            </div>
                                            <div class="total-cart">
                                                <span>商品总价</span>
                                                <span class="toal-price pull-right "><%=@cart_total%></span>
                                            </div>
                                            <div class="cart-buttons">
                                                <a href="#" class="button-radius btn-check-out cart-link <%='login' unless signed_in?%>"">结算<span class="icon"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <%else%>
                                    <div class="language">
                                        <a class="loggedin login girl_head" href="javascript:void(0);">登录</a>
                                    </div>
                                    <div class="currency">
                                        <a class="loggedin login" href="javascript:void(0);" id="reg">注册</a>
                                    </div>
                                    <%end%>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- main menu-->
                <div class="main-menu">
                    <div class="container">
                        <div class="row">
                            <nav class="navbar" id="main-menu">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <a class="navbar-brand" href="#">MENU</a>
                                    </div>
                                    <div id="navbar" class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="/">首页 HOME</a></li>
                                            <li><a href="/tuan">限时特价 ON SALE</a></li>
                                            <li><a href="/galleries/129">商品馆 GALLERIES</a></li>
                                            <li><a href="/brands">品牌专区 BRANDS</a><span class="ch_sp_tag new1"></span></li>
                                            <li><a href="/gallery/483?type=1">商品分类 CATEGORIES</a></li>
                                            <!-- <li><a href="/distributions">供配频道 SUPPLY-DISTRIBUTION</a></li> -->
                                            <li><a href="/events/foodie?supplier_id=78">活动吧 EVENTS</a></li>
                                        </ul>
                                    </div><!--/.nav-collapse -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- ./main menu-->
            </div>

    </header>
    <!-- ./header -->
    <%=yield%>   
    <!-- footer -->
<%=render "shared/common_footer"%>

<div id="backToTop" title="返回顶部"><span><em class="at">♦</em><em class="ab">▐</em>返回顶部</span></div>

<%=render "shared/iframe_cart" if signed_in?%>
<%=render "shared/iframe_login" unless signed_in?%>
<%= javascript_include_tag "google-analytics" if Rails.env == "production"%>
    <!-- footer -->
  <!--   <footer id="footer">
        <!-- <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="block footer-block-box">
                                <div class="block-head">
                                    <div class="block-title">
                                        <div class="block-icon">
                                            <img src="/new/location-icon.png" alt="store icon">
                                        </div>
                                        <div class="block-title-text text-sm">FIND A</div>
                                        <div class="block-title-text text-lg">edo store</div>
                                    </div>
                                </div>
                                <div class="block-inner">
                                    <div class="block-info clearfix">
                                        Enter your zip code, city or country to find the closest EDO Store near you!
                                    </div>
                                    <div class="block-input-box box-radius clearfix">
                                        <input type="text" class="input-box-text" placeholder="Zip code, City, Country">
                                        <button class="block-button">Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="block footer-block-box">
                                <div class="block-head">
                                    <div class="block-title">
                                        <div class="block-icon">
                                            <img src="/new/email-icon.png" alt="store icon">
                                        </div>
                                        <div class="block-title-text text-sm">SUBSCRIBE TO</div>
                                        <div class="block-title-text text-lg">edo shop EMAILS</div>
                                    </div>
                                </div>
                                <div class="block-inner">
                                    <div class="block-info clearfix">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                    </div>
                                    <div class="block-input-box box-radius clearfix">
                                        <input type="text" class="input-box-text" placeholder="Email address">
                                        <button class="block-button">Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="block footer-block-box">
                                <div class="block-head">
                                    <div class="block-title">
                                        <div class="block-icon">
                                            <img src="/new/partners-icon.png" alt="store icon">
                                        </div>
                                        <div class="block-title-text text-sm">our</div>
                                        <div class="block-title-text text-lg">partners</div>
                                    </div>
                                </div>
                                <div class="block-inner">
                                    <div class="block-owl">
                                        <ul class="kt-owl-carousel list-partners" data-nav="true" data-autoplay="true" data-loop="true" data-items="1">
                                            <li class="partner"><a href="#"><img src="/new/partner1.jpg" alt="partner"></a></li>
                                            <li class="partner"><a href="#"><img src="/new/partner2.jpg" alt="partner"></a></li>
                                            <li class="partner"><a href="#"><img src="/new/partner3.jpg" alt="partner"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul class="list-link">
                                    <li class="head"><a href="#">Buyer Central</a></li>
                                    <li><a href="#">Sign in</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Buyer Protection</a></li>
                                    <li><a href="#">Payment Options</a></li>
                                    <li><a href="#">EMI Payment</a></li>
                                    <li><a href="#">Shipping Policy</a></li>
                                    <li><a href="#">Return Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul class="list-link">
                                    <li class="head"><a href="#">Merchant Central</a></li>
                                    <li><a href="#">Merchant Sign In</a></li>
                                    <li><a href="#">Merchant Registration</a></li>
                                    <li><a href="#">How Does It Work</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Fulfillment by ShopClues</a></li>
                                    <li><a href="#">Merchant Tools</a></li>
                                    <li><a href="#">Best Practice</a></li>
                                 </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul class="list-link">
                                    <li class="head"><a href="#">Information</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Band of Trust</a></li>
                                    <li><a href="#">ShopClues History</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">In the Press</a></li>
                                    <li><a href="#">Awards New</a></li>
                                    <li><a href="#">Careers</a></li>
                                 </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul>
                                    <li class="head"><a href="#">Contact Us</a></li>
                                    <li><a href="#">Customer Support</a></li>
                                    <li><a href="#">Merchant Support</a></li>
                                    <li><a href="#">Merchant Inquiries</a></li>
                                    <li><a href="#">Product Reviews</a></li>
                                    <li><a href="#">Brand Inquiries</a></li>
                                    <li><a href="#">Bulk Orders</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                 </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul class="list-link">
                                    <li class="head"><a href="#">help</a></li>
                                    <li><a href="#">See all Help</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">FAQs</a></li>
                                 </ul>
                                 <ul>
                                    <li class="head"><a href="#">OTHER SERVICES</a></li>
                                    <li><a href="#">Market America Gear</a></li>
                                    <li><a href="#">Apply for Market</a></li>
                                    <li><a href="#">America Credit Card</a></li>
                                 </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 block-link-wapper">
                            <div class="block-link">
                                <ul class="list-link flag">
                                    <li class="head"><a href="#">INTERNATIONAL SHOPPING</a></li>
                                    <li><a href="#"><img src="/new/flag1.png" alt="flang">Customer Support</a></li>
                                    <li><a href="#"><img src="/new/flag2.png" alt="flang">Canada</a></li>
                                    <li><a href="#"><img src="/new/flag3.png" alt="flang">Mexico</a></li>
                                    <li><a href="#"><img src="/new/flag4.png" alt="flang">United Kingdom</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="block-coppyright">
                        沪ICP备13045311号-1 Copyright © 2013-<span id='copyright_year'></span> trade-v.com 版权所有 上海普慧信息科技有限公司 All rights reserved
                    </div>
                    <div class="block-shop-phone">
                        客服电话： <strong>021-62531770-9072</strong>
                    </div>
                </div>
            </div>
        </div>
    </footer>-->
    <!-- ./footer -->
    <!-- <a href="#" class="scroll_top" title="回到顶部" style="display: none;">Scroll</a>-->
    <script src="/assets/standard.js?body=1" type="text/javascript"></script>
 <%=render "shared/iframe_cart" if signed_in?%>
<%=render "shared/iframe_login" unless signed_in?%>
    <script>

        url =window.location.href
        if (url.indexOf("/products/") >= 0 ){
            document.getElementById("product-bar").style.display="block";
            document.getElementById("tool-bar").style.display="none";

        }


        var myDate = new Date();
        var currentYear = myDate.getFullYear();
        document.getElementById('copyright_year').innerText=currentYear;
    </script>

    <script type="text/javascript" src="/new/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/new/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/new/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="/new/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/new/js/jquery-ui.min.js"></script>
    <!-- COUNTDOWN -->
    <script type="text/javascript" src="/new/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="/new/js/jquery.countdown.js"></script>
    <!-- ./COUNTDOWN -->
    <script type="text/javascript" src="/new/js/jquery.actual.min.js"></script>
    <script type="text/javascript" src="/new/js/script.js"></script>
</body>
</html>